<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Северное сияние</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<!--link(rel='stylesheet' href='sass/style.scss')-->
</head>
<header class="header">
	<div class="header-top flex">
		<div class="container flex-end">
			<div class="location"><span class="location__city">Иркутск</span></div>
			<div class="service-menu">
				<ul class="flex">
					<li><a class="service-menu__link" href="#"><span class="service-menu__name">Гарантия</span></a></li>
					<li><a class="service-menu__link active" href="#"><span class="service-menu__name">Доставка и оплата</span></a></li>
					<li><a class="service-menu__link" href="#"><span class="service-menu__name">Отзывы</span></a></li>
					<li><a class="service-menu__link" href="#"><span class="service-menu__name">Опт</span></a></li>
					<li><a class="service-menu__link" href="#"><span class="service-menu__name">Вакансии</span></a></li>
				</ul>
			</div>
			<div class="work-time"><span class="work-time__text">09:00 — 21:00. Без выходных</span></div>
			<div class="phone"><a class="phone__link" href="tel:+73952962962">8 (3952) 96 29 62</a></div>
			<div class="callback"><a class="callback__link btn" href="#">Заказать звонок</a></div>
		</div>
	</div>
	
	<div class="header-bottom flex">
		<div class="container flex">
			<div class="logo"><a class="logo__link" href="/"><img src="../../img/logo-wide.png"></a></div>
			<div class="menu">
				<ul class="flex">
					<li><a class="menu__link catalog-link" href="#"><span class="catalog-icon"><span class="catalog-icon__line"></span><span class="catalog-icon__line-short"></span></span><span class="menu__name">Каталог</span></a></li>
					<li><a class="menu__link" href="#"><span class="menu__name">Конструктор унтов</span></a></li>
					<li><a class="menu__link" href="#"><span class="menu__name">Как снять мерку</span></a></li>
					<li><a class="menu__link" href="#"><span class="menu__name">О компании</span></a></li>
					<li><a class="menu__link" href="#"><span class="menu__name">Контакты</span></a></li>
				</ul>
			</div>
			<div class="icons">
				<div class="icons-fav">
					<div class="icons-fav__img"></div>
					<div class="icons__count icons-fav__count">14</div>
				</div>
				<div class="icons-cart">
					<div class="icons-cart__link flex">
						<div class="icons-cart__img"></div>
						<div class="icons__count icons-cart__count">3</div>
						<div class="icons-cart__price">52 500 ₽</div>
					</div>
					<div class="cart-list">
						<div class="cart-item">
							<div class="cart-item__img"><img src="../../img/cart-item1.jpg"></div>
							<div class="cart-item-block">
								<div class="cart-item-block__left">
									<p class="cart-item__name">Мужские унты МРЭ-2</p>
									<div class="cart-item__size"><span>Размер</span><span class="cart-item__size-count">42</span></div>
									<div class="cart-item__count"><span>Количество</span>
										<div class="count-block"><a class="count-block__minus" href="#"></a><span class="count-block__count">1</span><a class="count-block__minus" href="#"></a></div>
									</div>
								</div>
								<div class="cart-item-block__right"><span class="cart-item__delete"></span><span class="cart-item__price">8 000 ₽</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="catalog violet-menu">
		<div class="container">
			<ul class="flex">
				<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img unt-man"></span><span>Унты мужские</span></a></li>
				<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img unt-woman"></span><span>Унты женские</span></a></li>
				<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img unt-child"></span><span>Унты детские</span></a></li>
				<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img clothes"></span><span>Монгольская одежда</span></a></li>
				<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img shoes"></span><span>Монгольская обувь</span></a></li>
				<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img acces-shoes"></span><span>Аксессуары для обуви</span></a></li>
				<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img acces-leather"></span><span>Аксессуары из кожи</span></a></li>
			</ul>
		</div>
	</div>
</header>

<div class="header-fixed">
	<div class="header-fixed__wrap flex">
		<div class="container flex-end">
			<div class="logo-fixed"><a class="logo__link" href="/"><img src="../../img/logo-icon.png"></a></div>
			<div class="location"><span class="location__city">Иркутск</span></div>
			<div class="menu">
				<ul class="flex">
					<li><a class="menu__link catalog-link" href="#"><span class="catalog-icon"><span class="catalog-icon__line"></span><span class="catalog-icon__line-short"></span></span><span class="menu__name">Каталог</span></a></li>
					<li><a class="menu__link active" href="#"><span class="menu__name">Конструктор унтов</span></a></li>
					<li><a class="menu__link" href="#"><span class="menu__name">Как снять мерку</span></a></li>
					<li><a class="menu__link" href="#"><span class="menu__name">О компании</span></a></li>
					<li><a class="menu__link" href="#"><span class="menu__name">Контакты</span></a></li>
					<li><a class="menu__link menu__link-more" href="#"><span class="menu__name">Ещё</span></a></li>
				</ul>
			</div>
			<div class="icons">
				<div class="icons-fav">
					<div class="icons-fav__img"></div>
					<div class="icons__count icons-fav__count">14</div>
				</div>
				<div class="icons-cart">
					<div class="icons-cart__link flex">
						<div class="icons-cart__img"></div>
						<div class="icons__count icons-cart__count">3</div>
						<div class="icons-cart__price">52 500 ₽</div>
					</div>
					<div class="cart-list">
						<div class="cart-item">
							<div class="cart-item__img"><img src="../../img/cart-item1.jpg"></div>
							<div class="cart-item-block">
								<div class="cart-item-block__left">
									<p class="cart-item__name">Мужские унты МРЭ-2</p>
									<div class="cart-item__size"><span>Размер</span><span class="cart-item__size-count">42</span></div>
									<div class="cart-item__count"><span>Количество</span>
										<div class="count-block"><a class="count-block__minus" href="#"></a><span class="count-block__count">1</span><a class="count-block__minus" href="#"></a></div>
									</div>
								</div>
								<div class="cart-item-block__right"><span class="cart-item__delete"></span><span class="cart-item__price">8 000 ₽</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-fixed-bottom flex violet-menu">
		<div class="container flex">
			<div class="service-menu">
				<ul class="flex">
					<li><a class="service-menu__link violet-menu__link" href="#"><span class="service-menu__name">Гарантия</span></a></li>
					<li><a class="service-menu__link violet-menu__link" href="#"><span class="service-menu__name">Доставка и оплата</span></a></li>
					<li><a class="service-menu__link violet-menu__link" href="#"><span class="service-menu__name">Отзывы</span></a></li>
					<li><a class="service-menu__link violet-menu__link" href="#"><span class="service-menu__name">Опт</span></a></li>
					<li><a class="service-menu__link violet-menu__link" href="#"><span class="service-menu__name">Вакансии</span></a></li>
				</ul>
			</div>
			<div class="work-time"><span class="work-time__text">09:00 — 21:00. Без выходных</span></div>
			<div class="phone"><a class="phone__link" href="tel:+73952743407">8 (3952) 74 34 07</a><a class="phone__link" href="tel:+73952962962">8 (3952) 96 29 62</a></div>
			<div class="callback"><a class="callback__link btn" href="#">Заказать звонок</a></div>
		</div>
	</div>
</div>