<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Северное сияние</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/slick-theme.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<!--link(rel='stylesheet' href='sass/style.scss')-->
	<!--script(src='https://api-maps.yandex.ru/2.1/?apikey=f395a913-789d-4e6b-8b3c-1e8845b04973&lang=ru_RU' type='text/javascript')-->
</head>
<header class="header">
	<div class="header-top">
		<div class="container flex-end">
			<div class="location"><span class="location__city">Иркутск</span></div>
			<div class="service-menu">
				<ul class="flex">
					<li><a class="service-menu__link" href="javascript:void(0)"><span class="service-menu__name">Гарантия</span></a></li>
					<li><a class="service-menu__link active" href="javascript:void(0)"><span class="service-menu__name">Доставка и оплата</span></a></li>
					<li><a class="service-menu__link" href="javascript:void(0)"><span class="service-menu__name">Отзывы</span></a></li>
					<li><a class="service-menu__link" href="javascript:void(0)"><span class="service-menu__name">Опт</span></a></li>
					<li><a class="service-menu__link" href="javascript:void(0)"><span class="service-menu__name">Вакансии</span></a></li>
				</ul>
			</div>
			<div class="work-time"><span class="work-time__text">09:00 — 21:00. Без выходных</span></div>
			<div class="phone"><a class="phone__link" href="tel:+73952962962">8 (3952) 96 29 62</a></div>
			<div class="callback"><a class="callback__link btn" href="javascript:void(0)">Заказать звонок</a></div>
		</div>
	</div>
	
	<div class="header-bottom">
		<div class="container flex header-container"><a class="mobile-icon-menu js-icon-menu" href="javascript:void(0)"></a>
			<div class="logo"><a class="logo__link" href="/">
					<svg class="logo__svg" width="45" height="44" viewBox="0 0 45 44" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M44.0899 21.9997C44.0899 34.1312 34.2217 43.9994 22.0902 43.9994C9.86817 44.0899 0 34.2217 0 21.9997C0 9.86817 9.86817 0 21.9997 0C34.2217 0 44.0899 9.86817 44.0899 21.9997Z" fill="#553091"></path>
						<path d="M30.6909 31.8678C26.3453 31.8678 22.1807 29.7855 19.6458 26.2547L18.6499 24.8967C18.1067 24.1724 17.0203 24.1724 16.4771 24.8967L10.864 32.5921C10.6829 32.8637 10.6829 33.2258 10.9545 33.4069C13.8516 36.2134 17.654 37.9336 21.9996 37.9336C26.6168 37.9336 30.6909 35.9418 33.5879 32.8637C33.9501 32.5015 33.6785 31.8678 33.1353 31.8678H30.6909Z" fill="white"></path>
						<path class="ss-11" d="M21.9092 6.06567L13.5801 18.1067L7.69541 26.4358C7.42381 26.7979 6.8806 26.7074 6.69954 26.2547C6.51847 25.7115 6.42794 25.1683 6.3374 24.5346L18.9216 6.33728C19.9175 6.15621 20.9133 6.06567 21.9092 6.06567Z" fill="#8CD3E4"></path>
						<path class="ss-02" d="M33.3165 10.7734L25.1685 22.5428C26.0738 23.086 27.3413 22.9955 28.1561 22.1807L34.765 12.5841C34.4029 11.9504 33.8597 11.3166 33.3165 10.7734Z" fill="#8CD3E4"></path>
						<path class="ss-01" opacity="0.3" d="M37.5717 25.4398C37.9338 24.0818 38.0244 22.5427 37.9338 20.9131L35.3083 24.7155L36.3948 26.2546C36.6664 26.6167 37.2096 26.5262 37.3906 26.0735C37.4812 25.8924 37.4812 25.7114 37.5717 25.5303V25.4398Z" fill="#8CD3E4"></path>
						<path class="ss-08" opacity="0.3" d="M27.1603 6.88032C26.436 6.60872 25.6212 6.42765 24.8064 6.24658L19.1028 14.4852L20.5513 16.3864L27.1603 6.88032Z" fill="#8CD3E4"></path>
						<path class="ss-04" opacity="0.7" d="M37.3 17.3824C37.0284 16.5676 36.6662 15.6622 36.3041 14.8474L32.4111 20.4605L33.7691 22.4522L37.3 17.3824Z" fill="#8CD3E4"></path>
						<path class="ss-06" d="M6.15649 20.3698L14.9383 7.78564C10.14 10.1395 6.79023 14.8473 6.15649 20.3698Z" fill="#8CD3E4"></path>
						<path class="ss-05" opacity="0.7" d="M31.4155 9.14398C30.7818 8.69131 30.1481 8.32918 29.5143 7.96704L22.0906 18.65L23.5391 20.5512L31.4155 9.14398Z" fill="#8CD3E4"></path>
					</svg><img class="logo__img" src="../../img/logo-text.svg"><img class="logo__img-mobile" src="../../img/logo-short-mobile.svg"></a></div>
			<div class="menu">
				<ul class="flex">
					<li class="catalog-link-hover"><a class="menu__link catalog-link" href="../catalog.html"><span class="catalog-icon"><span class="catalog-icon__line"></span><span class="catalog-icon__line-short"></span></span><span class="menu__name">Каталог</span></a>
						<ul class="flex catalog violet-menu">
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img unt-man"></span><span>Унты мужские</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img unt-woman"></span><span>Унты женские</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img unt-child"></span><span>Унты детские</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img clothes"></span><span>Монгольская одежда</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img shoes"></span><span>Монгольская обувь</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img acces-shoes"></span><span>Аксессуары для обуви</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img acces-leather"></span><span>Аксессуары из кожи</span></a></li>
						</ul>
					</li>
					<li><a class="menu__link" href="../constructor.html"><span class="menu__name">Конструктор унтов</span></a></li>
					<li><a class="menu__link" href="javascript:void(0)"><span class="menu__name">Как снять мерку</span></a></li>
					<li><a class="menu__link" href="javascript:void(0)"><span class="menu__name">О компании</span></a></li>
					<li><a class="menu__link" href="javascript:void(0)"><span class="menu__name">Контакты</span></a></li>
				</ul>
			</div>
			<div class="icons"><a class="icons-phone js-mobile-popup-btn" href="#info"></a><a class="icons-fav" href="javascript:void(0)">
					<div class="icons-fav__img"></div>
					<div class="icons__count icons-fav__count">14</div></a><a class="icons-cart" href="javascript:void(0)">
					<div class="icons-cart__link flex">
						<div class="icons-cart__img"></div>
						<div class="icons__count icons-cart__count">3</div>
						<div class="icons-cart__price">52 500 ₽</div>
					</div>
					<div class="cart-list">
						<div class="cart-item">
							<div class="cart-item__img"><img src="../../img/cart-item1.jpg"></div>
							<div class="cart-item-block">
								<div class="cart-item-block__left">
									<p class="cart-item__name">Мужские унты МРЭ-2</p>
									<div class="cart-item__size"><span>Размер</span><span class="cart-item__size-count">42</span></div>
									<div class="cart-item__count"><span>Количество</span>
										<div class="count-block"><a class="count-block__minus" href="#"></a><span class="count-block__count">1</span><a class="count-block__minus" href="#"></a></div>
									</div>
								</div>
								<div class="cart-item-block__right"><span class="cart-item__delete"></span><span class="cart-item__price">8 000 ₽</span></div>
							</div>
						</div>
					</div></a></div>
		</div>
	</div>
</header>
<div class="mobile-left-menu js-mobile-left-menu js-mobile-popup">
	<div class="mobile-left-menu__wrap">
		<div class="location location--mobile js-mobile-location"><span class="location__city js-mobile-location-city">Иркутск</span>
			<div class="location-list location-list--mobile js-mobile-location-list">
				<div class="location-list-item active">Иркутск</div>
				<div class="location-list-item">Ангарск</div>
				<div class="location-list-item">Братск</div>
				<div class="location-list-item">Усолье-Сибирское</div>
			</div>
		</div>
		<div class="mobile-catalog"><a class="mobile-catalog__link js-mobile-catalog-link" href="#mobile-catalog">Каталог</a></div>
		<div class="mobile-menu-list">
			<ul>
				<li><a class="mobile-menu__link" href="../constructor.html"><span>Конструктор унтов</span></a></li>
				<li><a class="mobile-menu__link" href="javascript:void(0)"><span>Как снять мерку</span></a></li>
				<li><a class="mobile-menu__link" href="javascript:void(0)"><span>О компании</span></a></li>
				<li><a class="mobile-menu__link" href="javascript:void(0)"><span>Контакты</span></a></li>
			</ul>
		</div>
		<div class="mobile-service-menu">
			<ul>
				<li><a class="mobile-service-menu__link" href="javascript:void(0)"><span>Гарантия</span></a></li>
				<li><a class="mobile-service-menu__link active" href="javascript:void(0)"><span>Доставка и оплата</span></a></li>
				<li><a class="mobile-service-menu__link" href="javascript:void(0)"><span>Отзывы</span></a></li>
				<li><a class="mobile-service-menu__link" href="javascript:void(0)"><span>Опт</span></a></li>
				<li><a class="mobile-service-menu__link" href="javascript:void(0)"><span>Вакансии</span></a></li>
			</ul>
		</div>
		<div class="mobile-menu-contacts">
			<p class="mobile-menu-contacts__title">Контактная информация</p>
			<div class="mobile-phone">
				<p class="mobile-left-menu__title">Наши телефоны</p>
				<div class="mobile-phone__wrap"><a class="mobile-phone__link" href="tel:+73952962962">8 (3952) 96 29 62</a><a class="mobile-phone__link" href="tel:+73952743407">8 (3952) 74 34 07</a></div>
			</div>
			<div class="callback"><a class="callback__link btn" href="javascript:void(0)">Заказать звонок</a></div>
			<div class="mobile-email">
				<p class="mobile-left-menu__title">Электронная почта</p><a class="mobile-phone__link mobile-email__link" href="mailto:info@unti-sibiri.ru">info@unti-sibiri.ru</a>
			</div>
			<div class="links-block links-block--mobile">
				<p class="mobile-left-menu__title">Мы в социальных сетях</p>
				<div class="links-block__wrap"><a class="links-block__item links-block__item--vk" href="javascript:void(0)" target="_blank"><span class="visually-hidden">vkontakte</span></a><a class="links-block__item links-block__item--in" href="javascript:void(0)" target="_blank"><span class="visually-hidden">instagram</span></a><a class="links-block__item links-block__item--fb" href="javascript:void(0)" target="_blank"><span class="visually-hidden">facebook</span></a><a class="links-block__item links-block__item--ok" href="javascript:void(0)" target="_blank"><span class="visually-hidden">odnoklassniki</span></a></div>
			</div>
		</div>
	</div>
</div>
<div class="header-fixed js-header-fixed">
	<div class="header-fixed__wrap flex">
		<div class="container flex-end">
			<div class="logo-fixed"><a class="logo__link" href="/">
					<svg width="45" height="44" viewBox="0 0 45 44" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M44.0899 21.9997C44.0899 34.1312 34.2217 43.9994 22.0902 43.9994C9.86817 44.0899 0 34.2217 0 21.9997C0 9.86817 9.86817 0 21.9997 0C34.2217 0 44.0899 9.86817 44.0899 21.9997Z" fill="#553091"></path>
						<path d="M30.6909 31.8678C26.3453 31.8678 22.1807 29.7855 19.6458 26.2547L18.6499 24.8967C18.1067 24.1724 17.0203 24.1724 16.4771 24.8967L10.864 32.5921C10.6829 32.8637 10.6829 33.2258 10.9545 33.4069C13.8516 36.2134 17.654 37.9336 21.9996 37.9336C26.6168 37.9336 30.6909 35.9418 33.5879 32.8637C33.9501 32.5015 33.6785 31.8678 33.1353 31.8678H30.6909Z" fill="white"></path>
						<path class="ss-11" d="M21.9092 6.06567L13.5801 18.1067L7.69541 26.4358C7.42381 26.7979 6.8806 26.7074 6.69954 26.2547C6.51847 25.7115 6.42794 25.1683 6.3374 24.5346L18.9216 6.33728C19.9175 6.15621 20.9133 6.06567 21.9092 6.06567Z" fill="#8CD3E4"></path>
						<path class="ss-02" d="M33.3165 10.7734L25.1685 22.5428C26.0738 23.086 27.3413 22.9955 28.1561 22.1807L34.765 12.5841C34.4029 11.9504 33.8597 11.3166 33.3165 10.7734Z" fill="#8CD3E4"></path>
						<path class="ss-01" opacity="0.3" d="M37.5717 25.4398C37.9338 24.0818 38.0244 22.5427 37.9338 20.9131L35.3083 24.7155L36.3948 26.2546C36.6664 26.6167 37.2096 26.5262 37.3906 26.0735C37.4812 25.8924 37.4812 25.7114 37.5717 25.5303V25.4398Z" fill="#8CD3E4"></path>
						<path class="ss-08" opacity="0.3" d="M27.1603 6.88032C26.436 6.60872 25.6212 6.42765 24.8064 6.24658L19.1028 14.4852L20.5513 16.3864L27.1603 6.88032Z" fill="#8CD3E4"></path>
						<path class="ss-04" opacity="0.7" d="M37.3 17.3824C37.0284 16.5676 36.6662 15.6622 36.3041 14.8474L32.4111 20.4605L33.7691 22.4522L37.3 17.3824Z" fill="#8CD3E4"></path>
						<path class="ss-06" d="M6.15649 20.3698L14.9383 7.78564C10.14 10.1395 6.79023 14.8473 6.15649 20.3698Z" fill="#8CD3E4"></path>
						<path class="ss-05" opacity="0.7" d="M31.4155 9.14398C30.7818 8.69131 30.1481 8.32918 29.5143 7.96704L22.0906 18.65L23.5391 20.5512L31.4155 9.14398Z" fill="#8CD3E4"></path>
					</svg></a></div>
			<div class="location"><span class="location__city">Иркутск</span></div>
			<div class="menu-fixed">
				<div class="flex">
					<div class="menu-fixed-item catalog-link-hover"><a class="menu__link catalog-link" href="#"><span class="catalog-icon"><span class="catalog-icon__line"></span><span class="catalog-icon__line-short"></span></span><span class="menu__name">Каталог</span></a>
						<ul class="flex catalog violet-menu">
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img unt-man"></span><span>Унты мужские</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img unt-woman"></span><span>Унты женские</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img unt-child"></span><span>Унты детские</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img clothes"></span><span>Монгольская одежда</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img shoes"></span><span>Монгольская обувь</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img acces-shoes"></span><span>Аксессуары для обуви</span></a></li>
							<li><a class="catalog__link violet-menu__link" href="#"><span class="catalog__link-img acces-leather"></span><span>Аксессуары из кожи</span></a></li>
						</ul>
					</div>
					<div class="menu-fixed-item"><a class="menu__link active" href="#"><span class="menu__name">Конструктор унтов</span></a></div>
					<div class="menu-fixed-item"><a class="menu__link" href="#"><span class="menu__name">Как снять мерку</span></a></div>
					<div class="menu-fixed-item"><a class="menu__link" href="#"><span class="menu__name">О компании</span></a></div>
					<div class="menu-fixed-item"><a class="menu__link" href="#"><span class="menu__name">Контакты</span></a></div>
					<div class="menu-fixed-item link-more-hover"><a class="menu__link menu__link-more" href="#"><span class="menu__name">Ещё</span></a>
						<div class="header-fixed-bottom flex violet-menu">
							<div class="container flex">
								<div class="service-menu">
									<ul class="flex">
										<li><a class="service-menu__link violet-menu__link" href="#"><span class="service-menu__name">Гарантия</span></a></li>
										<li><a class="service-menu__link violet-menu__link" href="#"><span class="service-menu__name">Доставка и оплата</span></a></li>
										<li><a class="service-menu__link violet-menu__link" href="#"><span class="service-menu__name">Отзывы</span></a></li>
										<li><a class="service-menu__link violet-menu__link" href="#"><span class="service-menu__name">Опт</span></a></li>
										<li><a class="service-menu__link violet-menu__link" href="#"><span class="service-menu__name">Вакансии</span></a></li>
									</ul>
								</div>
								<div class="work-time"><span class="work-time__text">09:00 — 21:00. Без выходных</span></div>
								<div class="phone"><a class="phone__link" href="tel:+73952743407">8 (3952) 74 34 07</a><a class="phone__link" href="tel:+73952962962">8 (3952) 96 29 62</a></div>
								<div class="callback"><a class="callback__link btn" href="#">Заказать звонок</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="icons">
				<div class="icons-fav">
					<div class="icons-fav__img"></div>
					<div class="icons__count icons-fav__count">14</div>
				</div>
				<div class="icons-cart">
					<div class="icons-cart__link flex">
						<div class="icons-cart__img"></div>
						<div class="icons__count icons-cart__count">3</div>
						<div class="icons-cart__price">52 500 ₽</div>
					</div>
					<div class="cart-list">
						<div class="cart-item">
							<div class="cart-item__img"><img src="../../img/cart-item1.jpg"></div>
							<div class="cart-item-block">
								<div class="cart-item-block__left">
									<p class="cart-item__name">Мужские унты МРЭ-2</p>
									<div class="cart-item__size"><span>Размер</span><span class="cart-item__size-count">42</span></div>
									<div class="cart-item__count"><span>Количество</span>
										<div class="count-block"><a class="count-block__minus" href="#"></a><span class="count-block__count">1</span><a class="count-block__minus" href="#"></a></div>
									</div>
								</div>
								<div class="cart-item-block__right"><span class="cart-item__delete"></span><span class="cart-item__price">8 000 ₽</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mobile-popup info-popup js-mobile-popup" id="info">
	<div class="mobile-popup__wrap">
		<div class="mobile-popup__header js-popup-header">
			<div class="mobile-popup__title">Информация</div>
			<div class="mobile-popup__close js-popup-close"></div>
		</div>
		<div class="mobile-popup__main info-popup__main js-popup-main">
			<div class="info-popup__wrap js-popup-wrap">
				<div class="info-popup__text-block">
					<div class="info-popup__title">Режим работы</div>
					<div class="info-popup__text">Ежедневно. 09:00 — 21:00</div>
					<div class="info-popup__title">Наши телефоны</div>
					<div class="mobile-phone__wrap info-popup__phone-wrap"><a class="mobile-phone__link" href="tel:+73952962962">8 (3952) 96 29 62</a><a class="mobile-phone__link" href="tel:+73952743407">8 (3952) 74 34 07</a></div>
				</div>
				<div class="info-popup__buttons">
					<div class="info-popup__address"><a class="info-popup__link btn" href="javascript:void(0)">Адреса магазинов</a></div>
					<div class="info-popup__contact"><a class="info-popup__link btn" href="javascript:void(0)">Контакты</a></div>
					<div class="info-popup__callback"><a class="info-popup__link btn" href="javascript:void(0)">Заказать звонок</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mobile-popup mobile-catalog-menu js-mobile-popup" id="mobile-catalog">
	<div class="mobile-popup__wrap">
		<div class="mobile-popup__header js-popup-header">
			<div class="mobile-popup__title mobile-catalog-menu__title js-mobile-menu-title"><span>Каталог товаров</span><span class="mobile-catalog-menu__back js-mobile-menu-back"></span></div>
			<div class="mobile-popup__close js-popup-close"></div>
		</div>
		<div class="mobile-popup__main mobile-catalog-menu__main js-popup-main" id="id1">
			<ul class="mobile-catalog-menu__list">
				<li class="mobile-parent-menu"><a class="mobile-catalog-menu__link js-mobile-menu-link" href="javascript:void(0)"><span class="catalog__link-img unt-man"></span><span class="mobile-catalog-menu__name js-mobile-menu-name">Унты мужские</span></a>
					<ul class="mobile-submenu js-mobile-submenu js-popup-wrap">
						<li><a class="mobile-submenu__link" href="javascript:void(0)"><span class="mobile-submenu__count">4</span><span class="mobile-submenu__name">Пункт подменю 1</span></a>
							<ul class="mobile-subsubmenu">
								<li><a class="mobile-subsubmenu__link" href="javascript:void(0)"><span class="mobile-subsubmenu__count">8</span><span class="mobile-subsubmenu__name">Пункт подподменю 1</span></a></li>
								<li><a class="mobile-subsubmenu__link" href="javascript:void(0)"><span class="mobile-subsubmenu__count">2</span><span class="mobile-subsubmenu__name">Пункт подподменю 2</span></a></li>
								<li><a class="mobile-subsubmenu__link" href="javascript:void(0)"><span class="mobile-subsubmenu__count">14</span><span class="mobile-subsubmenu__name">Пункт подподменю 3</span></a></li>
								<li><a class="mobile-subsubmenu__link" href="javascript:void(0)"><span class="mobile-subsubmenu__count">10</span><span class="mobile-subsubmenu__name">Пункт подподменю 4</span></a></li>
							</ul>
						</li>
						<li><a class="mobile-submenu__link" href="javascript:void(0)"><span class="mobile-submenu__count">14</span><span class="mobile-submenu__name">Пункт подменю 2</span></a>
							<ul class="mobile-subsubmenu">
								<li><a class="mobile-subsubmenu__link" href="javascript:void(0)"><span class="mobile-subsubmenu__count">3</span><span class="mobile-subsubmenu__name">Пункт подподменю 1</span></a></li>
								<li><a class="mobile-subsubmenu__link" href="javascript:void(0)"><span class="mobile-subsubmenu__count">5</span><span class="mobile-subsubmenu__name">Пункт подподменю 2</span></a></li>
							</ul>
						</li>
						<li><a class="mobile-submenu__link" href="javascript:void(0)"><span class="mobile-submenu__count">1</span><span class="mobile-submenu__name">Пункт подменю 3</span></a>
							<ul class="mobile-subsubmenu">
								<li><a class="mobile-subsubmenu__link" href="javascript:void(0)"><span class="mobile-subsubmenu__count">6</span><span class="mobile-subsubmenu__name">Пункт подподменю 1</span></a></li>
								<li><a class="mobile-subsubmenu__link" href="javascript:void(0)"><span class="mobile-subsubmenu__count">11</span><span class="mobile-subsubmenu__name">Пункт подподменю 2</span></a></li>
							</ul>
						</li>
						<li><a class="mobile-submenu__link" href="javascript:void(0)"><span class="mobile-submenu__count">5</span><span class="mobile-submenu__name">Пункт подменю 4</span></a></li>
						<li><a class="mobile-submenu__link" href="javascript:void(0)"><span class="mobile-submenu__count">14</span><span class="mobile-submenu__name">Пункт подменю 5</span></a></li>
						<li><a class="mobile-submenu__link" href="javascript:void(0)"><span class="mobile-submenu__count">7</span><span class="mobile-submenu__name">Пункт подменю 6</span></a></li>
						<li><a class="mobile-submenu__link" href="javascript:void(0)"><span class="mobile-submenu__count">9</span><span class="mobile-submenu__name">Пункт подменю 7</span></a></li>
						<li><a class="mobile-submenu__link" href="javascript:void(0)"><span class="mobile-submenu__count">12</span><span class="mobile-submenu__name">Пункт подменю 8</span></a></li>
						<li><a class="mobile-submenu__link" href="javascript:void(0)"><span class="mobile-submenu__count">2</span><span class="mobile-submenu__name">Пункт подменю 9</span></a></li>
					</ul>
				</li>
				<li><a class="mobile-catalog-menu__link js-mobile-menu-link" href="javascript:void(0)"><span class="catalog__link-img unt-woman"></span><span class="mobile-catalog-menu__name js-mobile-menu-name">Унты женские</span></a></li>
				<li><a class="mobile-catalog-menu__link js-mobile-menu-link" href="javascript:void(0)"><span class="catalog__link-img unt-child"></span><span class="mobile-catalog-menu__name js-mobile-menu-name">Унты детские</span></a></li>
				<li><a class="mobile-catalog-menu__link js-mobile-menu-link" href="javascript:void(0)"><span class="catalog__link-img clothes"></span><span class="mobile-catalog-menu__name js-mobile-menu-name">Монгольская одежда</span></a></li>
				<li><a class="mobile-catalog-menu__link js-mobile-menu-link" href="javascript:void(0)"><span class="catalog__link-img shoes"></span><span class="mobile-catalog-menu__name js-mobile-menu-name">Монгольская обувь</span></a></li>
				<li><a class="mobile-catalog-menu__link js-mobile-menu-link" href="javascript:void(0)"><span class="catalog__link-img acces-shoes"></span><span class="mobile-catalog-menu__name js-mobile-menu-name">Аксессуары для обуви</span></a></li>
				<li><a class="mobile-catalog-menu__link js-mobile-menu-link" href="javascript:void(0)"><span class="catalog__link-img acces-leather"></span><span class="mobile-catalog-menu__name js-mobile-menu-name">Аксессуары из кожи</span></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="catalog-top-item js-top-item">
	<div class="catalog-top-item__left">
		<div class="catalog-top-item__img"><img src="../../img/catalog-top-img.png"></div>
		<div class="catalog-top-item__name">Шапка ТАР-3</div>
	</div>
	<div class="catalog-top-item__price">7 500 ₽</div>
</div>
<div class="catalog-btn js-catalog-btn"><a class="catalog-btn__link js-mobile-catalog-link" href="#mobile-catalog"><span class="catalog-btn__text">Каталог</span><span class="catalog-btn__icon"></span></a></div>