@charset "UTF-8";
.icons-cart__price {
  font-family: 'Dobrozrachniy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px; }

.violet-menu__link {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px; }

.menu__link {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.8px; }

.location__city, .service-menu__link, .phone__link, .callback__link, .icons__count {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18.2px; }

.work-time__text {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px; }

.header {
  position: relative; }

.header-top {
  height: 54px;
  border-bottom: 1px solid #EFEDF9; }

.location {
  margin-right: auto; }

.location__city {
  position: relative;
  padding-left: 24px; }

.location__city::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background: url("../../img/location.svg") center center no-repeat;
  position: absolute;
  top: 3px;
  left: 0; }

.service-menu {
  margin-right: 27px; }

.service-menu__link {
  display: block;
  padding: 0 10px; }

.service-menu__name {
  border-bottom: 2px solid transparent;
  height: 54px;
  line-height: 54px;
  display: block; }

.work-time__text {
  padding-right: 16px; }

.phone {
  margin-right: 24px; }

.phone__link {
  color: #553091;
  padding-left: 16px;
  position: relative; }

.phone__link:first-child::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #8cd3e4;
  position: absolute;
  top: 7px;
  left: 0; }

.phone__link:hover {
  color: #6637B1; }

.callback__link {
  width: 129px;
  height: 28px;
  line-height: 27px !important; }

.logo {
  margin-right: 40px; }

.header-bottom {
  height: 84px;
  border-bottom: 1px solid #EFEDF9; }

.menu__link {
  padding: 0 18px;
  display: block; }

.menu__name {
  border-bottom: 2px solid transparent;
  height: 84px;
  display: block;
  line-height: 84px; }

.service-menu__link.active .service-menu__name,
.menu__link.active:not(.catalog-link):not(.menu__link-more) .menu__name {
  border-bottom-color: #553091; }

.menu__link:not(.catalog-link):not(.menu__link-more):hover,
.service-menu__link:hover {
  background: rgba(239, 237, 249, 0.5);
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }

.catalog {
  display: none; }

.catalog-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid transparent; }

.catalog-icon {
  display: inline-block;
  width: 13px;
  height: 10px;
  margin-right: 17px; }

.catalog-icon__line {
  display: block;
  width: 100%;
  height: 2px;
  background: #8cd3e4;
  border-radius: 2px;
  margin-bottom: 4px; }

.catalog-icon__line-short {
  display: block;
  width: 9px;
  height: 2px;
  background: #8cd3e4;
  border-radius: 2px; }

.catalog-link.active .catalog-icon__line-short,
.catalog-link:hover .catalog-icon__line-short {
  width: 100%;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease; }

.menu__link-more:hover,
.catalog-link.active,
.catalog-link:hover {
  background: #553091;
  color: #ffffff;
  border-bottom: 2px solid rgba(239, 237, 249, 0.1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; }

.icons-fav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 30px;
  cursor: pointer; }

.icons-fav__img {
  width: 25px;
  height: 25px;
  background: url("../../img/icon-favorites.svg") center center no-repeat; }

.icons-cart {
  position: relative;
  cursor: pointer; }

.icons-cart__img {
  width: 25px;
  height: 25px;
  background: url("../../img/icon-cart.svg") center center no-repeat; }

.icons__count {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #553091;
  color: #ffffff;
  text-align: center;
  line-height: 28px !important;
  margin-left: 12px; }

.icons-cart__price {
  margin-left: 12px;
  margin-bottom: 5px;
  color: #282A61; }

.cart-list {
  display: none; }

.catalog {
  position: absolute;
  top: 135px;
  left: 0;
  width: 100%; }

.violet-menu {
  background: #553091; }

.violet-menu__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
  color: #ffffff;
  padding: 0 20px; }

.violet-menu__link:hover {
  background: #6637B1;
  color: #ffffff;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }

.catalog__link-img {
  display: inline-block;
  min-width: 50px;
  height: 50px;
  margin-right: 5px; }

.unt-man {
  background: url("../../img/Мужские-унты.png") center center no-repeat;
  background-size: contain; }

.unt-woman {
  background: url("../../img/Женские-унты.png") center center no-repeat;
  background-size: contain; }

.unt-child {
  background: url("../../img/Детские-унты 2.png") center center no-repeat;
  background-size: contain; }

.clothes {
  background: url("../../img/Монгольская-одежда.png") center center no-repeat;
  background-size: contain; }

.shoes {
  background: url("../../img/Монгольская-обвуь.png") center center no-repeat;
  background-size: contain; }

.acces-shoes {
  background: url("../../img/Аксессуары-для-обуви.png") center center no-repeat;
  background-size: contain; }

.acces-leather {
  background: url("../../img/Аксессуары-из-кожи.png") center center no-repeat;
  background-size: contain; }

.header__wrap {
  position: relative; }

.header-fixed {
  display: none;
  height: 60px;
  background: #ffffff;
  -webkit-box-shadow: 0 4px 4px rgba(85, 48, 145, 0.06);
          box-shadow: 0 4px 4px rgba(85, 48, 145, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.header-fixed__wrap {
  height: 100%; }

.logo-fixed {
  margin-right: 25px; }

.header-fixed .menu__name {
  height: 60px;
  line-height: 60px; }

.header-fixed-bottom {
  display: none;
  height: 79px; }

.header-fixed-bottom.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.header-fixed .service-menu__name {
  height: 79px;
  line-height: 79px; }

.menu__link-more {
  position: relative;
  color: rgba(40, 42, 97, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid transparent; }

.menu__link-more::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 7px;
  background: url("../../img/arrow-down.svg") center center no-repeat;
  margin-left: 7px; }

.menu__link-more:hover::after {
  background: url("../../img/arrow-up.svg") center center no-repeat; }

.header-fixed .violet-menu__link {
  height: 79px; }

.violet-menu .work-time__text,
.violet-menu .phone__link {
  color: #ffffff; }

.violet-menu .btn {
  background: #ffffff;
  color: #553091; }
