section.tizers
    .container
        h2.title
            span.color-violet Нас покупают,
            span.color-blue потому что
        .tizers__wrap
            .tizers-item
                .tizers-item__img.hand
                .tizers-item__text
                    span.tizers-item__title Ручная работа
                    span.tizers-item__descr вся обувь изготавливается исключительно в ручном режиме
            .tizers-item
                .tizers-item__img.deer
                .tizers-item__text
                    span.tizers-item__title 100% камус оленя снаружи
                    span.tizers-item__descr унты служат вам долгие годы
            .tizers-item
                .tizers-item__img.sheep
                .tizers-item__text
                    span.tizers-item__title 100% овчина внутри
                    span.tizers-item__descr не истирается, теплая, легкие
            .tizers-item
                .tizers-item__img.garantee
                .tizers-item__text
                    span.tizers-item__title Гарантия 1 год
                    span.tizers-item__descr на все наши изделия
            .tizers-item
                .tizers-item__img.pay
                .tizers-item__text
                    span.tizers-item__title Доступная рассрочка
                    span.tizers-item__descr без переплат и скрытых условий
            .tizers-item
                .tizers-item__img.mediator
                .tizers-item__text
                    span.tizers-item__title Работаем без посредников
                    span.tizers-item__descr без лишней накрутки
