
<section class="tizers">
	<div class="container">
		<h2 class="title"><span class="color-violet">Нас покупают,</span><span class="color-blue">потому что</span></h2>
		<div class="tizers__wrap">
			<div class="tizers-item">
				<div class="tizers-item__img hand"></div>
				<div class="tizers-item__text"><span class="tizers-item__title">Ручная работа</span><span class="tizers-item__descr">вся обувь изготавливается исключительно в ручном режиме</span></div>
			</div>
			<div class="tizers-item">
				<div class="tizers-item__img deer"></div>
				<div class="tizers-item__text"><span class="tizers-item__title">100% камус оленя снаружи</span><span class="tizers-item__descr">унты служат вам долгие годы</span></div>
			</div>
			<div class="tizers-item">
				<div class="tizers-item__img sheep"></div>
				<div class="tizers-item__text"><span class="tizers-item__title">100% овчина внутри</span><span class="tizers-item__descr">не истирается, теплая, легкие</span></div>
			</div>
			<div class="tizers-item">
				<div class="tizers-item__img garantee"></div>
				<div class="tizers-item__text"><span class="tizers-item__title">Гарантия 1 год</span><span class="tizers-item__descr">на все наши изделия</span></div>
			</div>
			<div class="tizers-item">
				<div class="tizers-item__img pay"></div>
				<div class="tizers-item__text"><span class="tizers-item__title">Доступная рассрочка</span><span class="tizers-item__descr">без переплат и скрытых условий</span></div>
			</div>
			<div class="tizers-item">
				<div class="tizers-item__img mediator"></div>
				<div class="tizers-item__text"><span class="tizers-item__title">Работаем без посредников</span><span class="tizers-item__descr">без лишней накрутки</span></div>
			</div>
		</div>
	</div>
</section>