footer.footer
    .footer-top
        .container.footer-top__wrap
            .footer-top-col.footer-top-col__left
                .logo
                    a.logo__link(href="/")
                        img(src="../../img/logo-short.png")
                .footer-top-phones
                    p.footer-top-phones__title Наши телефоны
                    .footer-phone
                        a.footer-phone__link(href="tel:+73952743407") 8 (3952) 74 34 07
                        a.footer-phone__link(href="tel:+73952962962") 8 (3952) 96 29 62
                    .callback
                        a.callback__link.btn.footer__callback-btn(href="#") Заказать звонок
                    .footer-top-links__wrap
                        .links-block
                            p.links-block__title Мы в социальных сетях
                            .links-block__wrap
                                a.links-block__item.links-block__item--vk(href="javascript:void(0)" target="_blank")
                                    span.visually-hidden vkontakte
                                a.links-block__item.links-block__item--in(href="javascript:void(0)" target="_blank")
                                    span.visually-hidden instagram
                                a.links-block__item.links-block__item--fb(href="javascript:void(0)" target="_blank")
                                    span.visually-hidden facebook
                                a.links-block__item.links-block__item--ok(href="javascript:void(0)" target="_blank")
                                    span.visually-hidden odnoklassniki
                        .email-block
                            p.email-block__title Электронная почта
                            a.email-block__link(href="mailto:info@unti-sibiri.ru") info@unti-sibiri.ru
            .footer-top-col__right
                .footer-top-col__wrap
                    .footer-top-col
                        p.footer-top-col__title Каталог
                        ul.footer-top__list
                            li.footer-top__item
                                a(href="javascript:void(0)") Унты мужские
                            li.footer-top__item
                                a(href="javascript:void(0)") Унты мужские
                            li.footer-top__item
                                a(href="javascript:void(0)") Унты детские
                            li.footer-top__item
                                a(href="javascript:void(0)") Монгольская одежда
                            li.footer-top__item
                                a(href="javascript:void(0)") Монгольская обувь
                            li.footer-top__item
                                a(href="javascript:void(0)") Аксессуары для обуви
                            li.footer-top__item
                                a(href="javascript:void(0)") Аксессуары из кожи
                    .footer-top-col
                        p.footer-top-col__title Полезная информация
                            ul.footer-top__list
                                li.footer-top__item.footer-top__item--img
                                    a(href="javascript:void(0)") Как снять
                                        br
                                        | мерку
                                li.footer-top__item.footer-top__item--img
                                    a(href="javascript:void(0)") Как ухаживать
                                        br
                                        | за унтами
                                li.footer-top__item.footer-top__item--img
                                    a(href="javascript:void(0)") Как хранить
                                        br
                                        | унты
                    .footer-top-col
                            p.footer-top-col__title Северное сияние
                                ul.footer-top__list
                                    li.footer-top__item
                                        a(href="javascript:void(0)") О компании
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Вакансии
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Магазины
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Контакты
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Гарантия
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Доставка и оплата
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Отзывы
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Опт
                .footer-top__subscribe.subscribe
                    p.subscribe__title Оповестить о скидках и акциях
                    form(action="#" method="post")
                        .subscribe__input-wrap
                            input(placeholder="Введите адрес почты" name="subscribe_email").subscribe__input
                            button(type="submit").btn.subscribe__btn Подписаться
    .footer-bottom
        .container.footer-bottom__wrap
            .footer-bottom__left
                p.footer-bottom__text Официальный сайт магазина унтов «Северное сияние у ваших ног»
                p.footer-bottom__copy © 2004-2020 Все права защищены.
                    a.policy-link(href="javascript:void(0)") Политика обработки персональных данных
            .footer-bottom__right
                a.megamir(href="https://mmit.ru/" target="_blank")
                    span.megamir__logo
                    span Разработка
                        br
                        | и поддержка сайта

script(src='js/jquery-3.3.1.min.js')
script(src='js/jquery.fancybox.min.js')
script(src='js/simpleParallax.min.js')
script(src='js/slick.min.js')
script(src='js/wow.js')
script(src='js/script.js' type="module")