@import "../../variables";

.footer {
  padding-top: 127px;
  padding-bottom: 83px;
  @include font_PT_B_16;
}

.footer-top__wrap,
.footer-top-col__wrap,
.footer-top-links__wrap,
.footer-phone,
.footer-bottom__wrap {
  display: flex;
}

.footer-top {
  padding-bottom: 34px;
  border-bottom: 1px solid $grey;
}

.footer-top-col__left,
.footer-top-col:not(:last-child) {
  margin-right: 90px;
}

.footer-top-phones {
  margin-top: 69px;
}

.footer-top-phones__title {
  margin-bottom: 14px;
}

.footer-phone {
  margin-bottom: 12px;
}

.footer-phone__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: $violet;
  position: relative;
}

.footer-phone__link:hover {
  color: $violetAccent;
}

.footer .footer-phone__link:last-child {
  padding-left: 11px;
  margin-left: 11px;
}

.footer .footer-phone__link:last-child::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #8cd3e4;
  position: absolute;
  top: 11px;
  left: 0;
}

.footer__callback-btn {
  width: 155px;
  height: 40px;
  line-height: 40px !important;
  margin-bottom: 28px;
}

.email-block {
  margin-left: 46px;
}

.email-block__title {
  margin-bottom: 19px;
}

.email-block__link {
  color: $violet;
}

.email-block__link:hover {
  color: $violetAccent;
}

.footer-top-col__right {
  flex: 1;
}

.footer-top-col__title {
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: $violet;
}

.footer-top__item {
  padding: 4px 0;
}

.footer-top__item--img {
  padding-left: 53px;
  position: relative;
  margin-bottom: 15px;
  line-height: 18px;
}

.footer-top__item--img::before {
  content: "";
  width: 30px;
  height: 36px;
  position: absolute;
  top: 4px;
  left: 0;
}

.footer-top__item--img:first-child::before {
  background: url("../../img/icon-read-small-3.svg") left center no-repeat;
  background-size: contain;
}

.footer-top__item--img:nth-child(2)::before {
  background: url("../../img/icon-read-small-2.svg") left center no-repeat;
  background-size: contain;
}

.footer-top__item--img:last-child::before {
  background: url("../../img/icon-read-small-1.svg") left center no-repeat;
  background-size: contain;
}

.footer-top__subscribe {
  margin-top: 55px;
  justify-content: flex-end;
}

.subscribe {
  display: flex;
  align-items: center;
}

.subscribe__title {
  margin-right: 18px;
}

.subscribe__input-wrap {
  position: relative;
}

.subscribe__input {
  width: 362px;
  height: 40px;
  border: 2px solid $grey;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 153px;
  @include font_PT_Reg_16;
}

.subscribe__btn {
  width: 133px;
  height: 40px;
  line-height: 39px !important;
  @include font_PT_B_16;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.footer-bottom__wrap {
  justify-content: space-between;
  padding-top: 31px;
}

.footer .footer-bottom__copy {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  margin-top: 4px;
}

.policy-link {
  border-bottom: 1px solid rgba(40, 42, 97, 0.3);
  margin-left: 14px;
}

.policy-link:hover {
  color: $darkBlue;
  border-bottom: 1px solid rgba(40, 42, 97, 1);
  -webkit-transition: border-bottom-color 0.3s ease;
  -moz-transition: border-bottom-color 0.3s ease;
  -ms-transition: border-bottom-color 0.3s ease;
  -o-transition: border-bottom-color 0.3s ease;
  transition: border-bottom-color 0.3s ease;
}

.megamir {
  @include font_PT_B_12;
  color: $violet;
  display: flex;
}

.megamir__logo {
  width: 133px;
  height: 32px;
  background: url("../../img/logo-megamir.svg") center center no-repeat;
  margin-right: 11px;
}

@media all and (max-width: 1024px) {
  .footer {
    padding-top: 80px;
  }
  .footer-top__wrap,
  .footer-bottom__wrap {
    flex-direction: column;
    align-items: center;
  }
  .footer-top-col__left, .footer-top-col:not(:last-child) {
    margin-right: 0;
  }
  .footer-top-col__wrap {
    display: none;
  }
  .footer-top__subscribe {
    justify-content: center;
  }
  .footer .footer-bottom__copy {
    margin-top: 20px;
    margin-bottom: 33px;
  }
}

@media all and (max-width: 600px) {
  .footer {
    padding-top: 165px;
    padding-bottom: 38px;
  }
  .footer-top {
    padding-bottom: 40px;
  }
  .footer .logo,
  .footer .footer-phone__link:last-child::before {
    display: none;
  }
  .footer-top-phones {
    margin-top: 0;
    text-align: center;
  }
  .footer-phone {
    margin-bottom: 20px;
    display: block;
  }
  .footer-phone__link {
    display: block;
  }
  .footer__callback-btn {
    margin: 0 auto;
  }
  .footer-top-links__wrap {
    flex-direction: column;
    align-items: center;
    margin-top: 34px;
  }
  .email-block {
    margin-left: 0;
    margin-bottom: 34px;
    order: 0;
  }
  .links-block {
    order: 1;
  }
  .email-block__title {
    margin-bottom: 6px;
  }
  .email-block__link {
    font-size: 20px;
  }
  .footer .footer-phone__link:last-child {
    padding-left: 0;
    margin-left: 0;
  }
  .footer-top__subscribe {
    flex-direction: column;
  }
  .subscribe__title {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .footer-bottom__left {
    text-align: center;
  }
  .policy-link {
    display: block;
    width: fit-content;
    margin: 9px auto 0;
  }
  .footer-bottom__text {
    padding: 0 50px;
  }
}