footer.footer
    .footer-top
        .container.footer-top__wrap
            .footer-top-col.footer-top-col__left
                .logo
                    a.logo__link(href="/")
                        html
                            body
                                svg(xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90' fill='none')
                                    path(d='M89.9995 44.9997C89.9995 69.9996 69.7364 89.9995 44.9997 89.9995C20.263 89.9995 0 69.9996 0 44.9997C0 20.263 20.263 0 44.9997 0C69.9996 0 89.9995 20.263 89.9995 44.9997Z' fill='#553091')
                                    path(d='M62.6306 64.9999C53.6833 64.9999 45.2623 60.7894 39.9991 53.421L37.8939 50.7894C36.8413 49.2105 34.4728 49.2105 33.4202 50.7894L22.1045 66.5788C21.8413 67.1051 21.8413 67.8946 22.3677 68.1578C28.1571 73.9472 36.0518 77.3682 44.9991 77.3682C54.4727 77.3682 62.8937 73.4209 68.6832 66.842C69.4726 66.0525 68.6832 64.7367 67.6306 64.7367H62.6306V64.9999Z' fill='white')
                                    path.ss-03(xmlns='http://www.w3.org/2000/svg' opacity='0.7' d='M12.895 49.4738C12.6318 48.1581 12.6318 46.8423 12.6318 45.7896V45.5265L33.9475 14.7372C35.0001 14.2109 36.3159 13.9477 37.3685 13.6846C37.6317 13.6846 37.6317 13.9477 37.6317 13.9477L12.895 49.4738Z' fill='#8CD3E4')
                                    path.ss-04(xmlns='http://www.w3.org/2000/svg' opacity='0.7' d='M66.3157 20.7899L50 44.474V44.7371L50.2632 45.0003C50.7895 45.5266 51.3158 46.0529 51.8421 46.3161H52.1052L68.4209 22.632V22.3688C67.8946 21.8425 67.3683 21.3162 66.842 20.7899C66.5789 20.5267 66.3157 20.5267 66.3157 20.7899Z' fill='#8CD3E4')
                                    path.ss-07(xmlns='http://www.w3.org/2000/svg' opacity='0.3' d='M42.6313 12.6317L13.9473 53.9472V54.2104C14.4736 54.7367 15.263 54.7367 15.7894 54.2104L33.684 28.9474C34.2103 28.1579 34.7366 27.8948 35.5261 27.8948C35.5261 27.8948 35.5261 27.8948 35.7892 27.8948L46.0523 13.158C46.0523 12.8948 46.0523 12.6317 45.7892 12.6317C44.4734 12.3685 43.6839 12.3685 42.6313 12.6317Z' fill='#8CD3E4')
                                    path.ss-01(xmlns='http://www.w3.org/2000/svg' opacity='0.3' d='M70.5263 24.9998L56.0527 46.3154C56.0527 46.3154 56.0527 46.5786 56.3159 46.5786C57.1054 46.3154 57.8948 45.7891 58.4211 44.9996L61.0527 41.0523C61.8422 39.9997 62.8948 39.7365 63.9474 39.9997L72.3684 27.8945C71.8421 26.5787 71.3158 25.7892 70.5263 24.9998C70.7895 24.9998 70.5263 24.9998 70.5263 24.9998Z' fill='#8CD3E4')
                                    path.ss-02(xmlns='http://www.w3.org/2000/svg' d='M13.421 38.4212L27.8946 17.6318C27.8946 17.6318 27.8946 17.3687 27.6314 17.3687C20.2631 22.1055 14.9999 29.4738 13.421 38.4212C13.1578 38.4212 13.1578 38.4212 13.421 38.4212Z' fill='#8CD3E4')
                                    path.ss-06(xmlns='http://www.w3.org/2000/svg' d='M77.3684 41.315C77.3684 40.2623 77.1052 39.2097 76.8421 38.1571C76.8421 37.8939 76.5789 37.8939 76.3158 38.1571L70 47.3676V47.6307L71.3158 49.736C71.3158 49.9991 71.5789 49.9991 71.8421 49.736L77.3684 41.315Z' fill='#8CD3E4')
                                    path.ss-08(xmlns='http://www.w3.org/2000/svg' opacity='0.3' d='M76.3152 53.4204C76.8415 51.5783 77.1046 49.4731 77.3678 47.631C77.3678 47.3678 77.1046 47.3678 77.1046 47.631L73.6836 52.6309V52.8941L74.2099 53.9467C74.9994 54.473 76.052 54.473 76.3152 53.4204Z' fill='#8CD3E4')
                                    path.ss-05(xmlns='http://www.w3.org/2000/svg' opacity='0.7' d='M75.5259 33.421C75.2627 32.6315 74.7364 31.8421 74.4733 31.0526C74.4733 30.7894 74.2101 30.7894 73.947 31.0526L66.3154 42.1052V42.3683L67.6312 44.4736C67.6312 44.7367 67.8944 44.7367 68.1575 44.4736L75.5259 33.421Z' fill='#8CD3E4')
                                    path.ss-09(xmlns='http://www.w3.org/2000/svg' opacity='0.3' d='M58.4207 15.2631C57.6312 14.9999 57.1049 14.7368 56.3155 14.4736H56.0523L42.3682 34.2104V34.4735L43.6839 36.3156C43.6839 36.5788 43.9471 36.5788 44.2103 36.3156L58.4207 15.7894C58.4207 15.5263 58.4207 15.2631 58.4207 15.2631Z' fill='#8CD3E4')
                                    path.ss-11(xmlns='http://www.w3.org/2000/svg' d='M63.6838 18.421C63.1574 17.8947 62.368 17.6315 61.8417 17.1052H61.5785L46.3154 39.2104V39.4735L47.6312 41.3156C47.6312 41.5788 47.8944 41.5788 48.1575 41.3156L63.9469 18.421C63.6837 18.6842 63.6838 18.421 63.6838 18.421Z' fill='#8CD3E4')
                                    path.ss-10(xmlns='http://www.w3.org/2000/svg' d='M52.3682 13.1574C51.5787 13.1574 50.7892 12.8943 49.9998 12.8943H49.7366L38.4209 28.9468V29.21L39.7367 31.0521C39.7367 31.3152 39.9998 31.3152 40.263 31.0521L52.6313 13.6838C52.6313 13.4206 52.6313 13.4206 52.3682 13.1574Z' fill='#8CD3E4')
                                img(src="../../img/logo-text2.svg")
                .footer-top-phones
                    p.footer-top-phones__title Наши телефоны
                    .footer-phone
                        a.footer-phone__link(href="tel:+73952743407") 8 (3952) 74 34 07
                        a.footer-phone__link(href="tel:+73952962962") 8 (3952) 96 29 62
                    .callback
                        a.callback__link.btn.footer__callback-btn(href="#") Заказать звонок
                    .footer-top-links__wrap
                        .links-block
                            p.links-block__title Мы в социальных сетях
                            .links-block__wrap
                                a.links-block__item.links-block__item--vk(href="javascript:void(0)" target="_blank")
                                    span.visually-hidden vkontakte
                                a.links-block__item.links-block__item--in(href="javascript:void(0)" target="_blank")
                                    span.visually-hidden instagram
                                a.links-block__item.links-block__item--fb(href="javascript:void(0)" target="_blank")
                                    span.visually-hidden facebook
                                a.links-block__item.links-block__item--ok(href="javascript:void(0)" target="_blank")
                                    span.visually-hidden odnoklassniki
                        .email-block
                            p.email-block__title Электронная почта
                            a.email-block__link(href="mailto:info@unti-sibiri.ru") info@unti-sibiri.ru
            .footer-top-col__right
                .footer-top-col__wrap
                    .footer-top-col
                        p.footer-top-col__title Каталог
                        ul.footer-top__list
                            li.footer-top__item
                                a(href="javascript:void(0)") Унты мужские
                            li.footer-top__item
                                a(href="javascript:void(0)") Унты мужские
                            li.footer-top__item
                                a(href="javascript:void(0)") Унты детские
                            li.footer-top__item
                                a(href="javascript:void(0)") Монгольская одежда
                            li.footer-top__item
                                a(href="javascript:void(0)") Монгольская обувь
                            li.footer-top__item
                                a(href="javascript:void(0)") Аксессуары для обуви
                            li.footer-top__item
                                a(href="javascript:void(0)") Аксессуары из кожи
                    .footer-top-col
                        p.footer-top-col__title Полезная информация
                            ul.footer-top__list
                                li.footer-top__item.footer-top__item--img
                                    a(href="javascript:void(0)") Как снять
                                        br
                                        | мерку
                                li.footer-top__item.footer-top__item--img
                                    a(href="javascript:void(0)") Как ухаживать
                                        br
                                        | за унтами
                                li.footer-top__item.footer-top__item--img
                                    a(href="javascript:void(0)") Как хранить
                                        br
                                        | унты
                    .footer-top-col
                            p.footer-top-col__title Северное сияние
                                ul.footer-top__list
                                    li.footer-top__item
                                        a(href="javascript:void(0)") О компании
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Вакансии
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Магазины
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Контакты
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Гарантия
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Доставка и оплата
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Отзывы
                                    li.footer-top__item
                                        a(href="javascript:void(0)") Опт
                .footer-top__subscribe.subscribe
                    p.subscribe__title Оповестить о скидках и акциях
                    form(action="#" method="post")
                        .subscribe__input-wrap
                            input(placeholder="Введите адрес почты" name="subscribe_email").subscribe__input
                            button(type="submit").btn.subscribe__btn Подписаться
    .footer-bottom
        .container.footer-bottom__wrap
            .footer-bottom__left
                p.footer-bottom__text Официальный сайт магазина унтов «Северное сияние у ваших ног»
                p.footer-bottom__copy © 2004-2020 Все права защищены.
                    a.policy-link(href="javascript:void(0)") Политика обработки персональных данных
            .footer-bottom__right
                a.megamir(href="https://mmit.ru/" target="_blank")
                    span.megamir__logo
                    span Разработка
                        br
                        | и поддержка сайта

