.unty
    .unty-img
        .unty-img__base
            img(src="../../../img/constructor/unty-1.png").normal
        .sepia
            img(src="../../../img/constructor/unty-1.png" data-id="sex1").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="sex2").js-unty-img
        .grey
            img(src="../../../img/constructor/unty-1.png" data-id="c1").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="c2").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="c3").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="c4").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="c5").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="c6").js-unty-img
        .blur
            img(src="../../../img/constructor/unty-1.png" data-id="m1").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m2").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m3").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m4").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m5").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m6").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m7").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m8").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m9").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m10").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m11").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m12").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m13").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m14").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m15").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m16").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m17").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m18").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m19").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m20").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m21").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m22").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m23").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="m24").js-unty-img
        .invert
            img(src="../../../img/constructor/unty-1.png" data-id="i1").js-unty-img
            img(src="../../../img/constructor/unty-1.png" data-id="i2").js-unty-img