
<form class="constructor-form js-constructor-form" action="#" method="post">
	<div class="constructor-form-block flex sex js-constructor-block current">
		<div class="constructor-form-block__step-one js-step-one">
			<p class="constructor-form-block__name">Какие</p>
			<div class="constructor-form-block__wrap">
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="sex1" type="radio" name="sex"/>
					<label class="constructor__label constructor__label--sex constructor__label--sex-m js-label" for="sex1">Мужские</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="sex2" type="radio" name="sex"/>
					<label class="constructor__label constructor__label--sex constructor__label--sex-f js-label" for="sex2">Женские</label>
				</div>
			</div>
		</div>
		<div class="constructor-form-block__step-two js-step-two">
			<p class="constructor-form-block__name">Размер</p>
			<div class="constructor-form-block__wrap">
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s1" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s1">34</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s2" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s2">35</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s3" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s3">36</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s4" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s4">37</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s5" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s5">38</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s6" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s6">39</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s7" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s7">40</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s8" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s8">41</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s9" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s9">42</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s10" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s10">43</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s11" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s11">44</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s12" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s12">45</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s13" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s13">46</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s14" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s14">47</label>
				</div>
				<div class="constructor__item">
					<input class="constructor__input js-checked-input" id="s15" type="radio" name="size"/>
					<label class="constructor-size__label js-label" for="s15">48</label>
				</div>
			</div>
		</div>
	</div>
	
	<div class="constructor-form-block color js-constructor-block">
		<p class="constructor-form-block__name">Оттенок камуса</p>
		<div class="constructor-form-block__wrap">
			<div class="constructor__item">
				<input class="constructor__input js-checked-input" id="c1" type="radio" name="color"/>
				<label class="constructor__label constructor__label--square color-1 js-label" for="c1"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-checked-input" id="c2" type="radio" name="color"/>
				<label class="constructor__label constructor__label--square color-2 js-label" for="c2"></label>
			</div><span class="constructor__item-title constructor__item-title--color">Темный</span>
			<div class="constructor__item">
				<input class="constructor__input js-checked-input" id="c3" type="radio" name="color"/>
				<label class="constructor__label constructor__label--square color-3 js-label" for="c3"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-checked-input" id="c4" type="radio" name="color"/>
				<label class="constructor__label constructor__label--square color-4 js-label" for="c4"></label>
			</div><span class="constructor__item-title constructor__item-title--color">Средний</span>
			<div class="constructor__item">
				<input class="constructor__input js-checked-input" id="c5" type="radio" name="color"/>
				<label class="constructor__label constructor__label--square color-5 js-label" for="c5"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-checked-input" id="c6" type="radio" name="color"/>
				<label class="constructor__label constructor__label--square color-6 js-label" for="c6"></label>
			</div><span class="constructor__item-title constructor__item-title--color">Светлый</span>
		</div>
	</div>
	
	<div class="constructor-form-block material js-constructor-block">
		<p class="constructor-form-block__name">Корсаж</p>
		<div class="constructor-form-block__wrap"><span class="constructor__item-title constructor__item-title--material">Эко-кожа</span>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m1" type="radio" name="material" value="1000"/>
				<label class="constructor__label constructor__label--square material-1 js-label" for="m1"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m2" type="radio" name="material" value="1000"/>
				<label class="constructor__label constructor__label--square material-2 js-label" for="m2"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m3" type="radio" name="material" value="1000"/>
				<label class="constructor__label constructor__label--square material-3 js-label" for="m3"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m4" type="radio" name="material" value="1000"/>
				<label class="constructor__label constructor__label--square material-4 js-label" for="m4"></label>
			</div>
		</div>
		<div class="constructor-form-block__wrap"><span class="constructor__item-title constructor__item-title--material">Вышивка на эко-коже</span>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m21" type="radio" name="material" value="2000"/>
				<label class="constructor__label constructor__label--square material-21 js-label" for="m21"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m22" type="radio" name="material" value="2000"/>
				<label class="constructor__label constructor__label--square material-22 js-label" for="m22"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m23" type="radio" name="material" value="2000"/>
				<label class="constructor__label constructor__label--square material-23 js-label" for="m23"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m24" type="radio" name="material" value="2000"/>
				<label class="constructor__label constructor__label--square material-24 js-label" for="m24"></label>
			</div>
		</div>
		<div class="constructor-form-block__wrap"><span class="constructor__item-title constructor__item-title--material">Бисер</span>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m5" type="radio" name="material" value="3000"/>
				<label class="constructor__label constructor__label--square material-5 js-label" for="m5"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m6" type="radio" name="material" value="3000"/>
				<label class="constructor__label constructor__label--square material-6 js-label" for="m6"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m7" type="radio" name="material" value="3000"/>
				<label class="constructor__label constructor__label--square material-7 js-label" for="m7"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m8" type="radio" name="material" value="3000"/>
				<label class="constructor__label constructor__label--square material-8 js-label" for="m8"></label>
			</div>
		</div>
		<div class="constructor-form-block__wrap"><span class="constructor__item-title constructor__item-title--material">Вышивка с камнями</span>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m9" type="radio" name="material" value="4000"/>
				<label class="constructor__label constructor__label--square material-9 js-label" for="m9"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m10" type="radio" name="material" value="4000"/>
				<label class="constructor__label constructor__label--square material-10 js-label" for="m10"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m11" type="radio" name="material" value="4000"/>
				<label class="constructor__label constructor__label--square material-11 js-label" for="m11"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m12" type="radio" name="material" value="4000"/>
				<label class="constructor__label constructor__label--square material-12 js-label" for="m12"></label>
			</div>
		</div>
		<div class="constructor-form-block__wrap"><span class="constructor__item-title constructor__item-title--material">Камни</span>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m13" type="radio" name="material" value="5000"/>
				<label class="constructor__label constructor__label--square material-13 js-label" for="m13"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m14" type="radio" name="material" value="5000"/>
				<label class="constructor__label constructor__label--square material-14 js-label" for="m14"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m15" type="radio" name="material" value="5000"/>
				<label class="constructor__label constructor__label--square material-15 js-label" for="m15"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m16" type="radio" name="material" value="5000"/>
				<label class="constructor__label constructor__label--square material-16 js-label" for="m16"></label>
			</div>
		</div>
		<div class="constructor-form-block__wrap"><span class="constructor__item-title constructor__item-title--material">Камус</span>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m17" type="radio" name="material" value="6000"/>
				<label class="constructor__label constructor__label--square material-17 js-label" for="m17"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m18" type="radio" name="material" value="6000"/>
				<label class="constructor__label constructor__label--square material-18 js-label" for="m18"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m19" type="radio" name="material" value="6000"/>
				<label class="constructor__label constructor__label--square material-19 js-label" for="m19"></label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input js-input js-checked-input" id="m20" type="radio" name="material" value="6000"/>
				<label class="constructor__label constructor__label--square material-20 js-label" for="m20"></label>
			</div>
		</div>
	</div>
	
	<div class="constructor-form-block inside js-constructor-block">
		<p class="constructor-form-block__name">Внутренний материал</p>
		<div class="constructor-form-block__wrap">
			<div class="constructor__item">
				<input class="constructor__input constructor__input--inside js-input js-checked-input" id="i1" type="radio" name="inside" value="2000"/>
				<label class="constructor__label constructor__label--inside constructor__label--inside-nat js-label" for="i1">Натуральная овчина</label>
			</div>
			<div class="constructor__item">
				<input class="constructor__input constructor__input--inside js-input js-checked-input" id="i2" type="radio" name="inside" value="1000"/>
				<label class="constructor__label constructor__label--inside constructor__label--inside-comb js-label" for="i2">Комбиниро-ванный</label>
			</div>
		</div>
	</div>
	
	<div class="constructor-form-block result js-constructor-block">
		<p class="js-error-block constructor-form-block__name">Активируйте все параметры</p>
		<div class="constructor-form-block__wrap price js-price">
			<div class="constructor__price">
				<p class="constructor__price-title">Приблизительная цена</p>
				<p class="constructor__price-value js-total-price">0 ₽</p>
			</div>
			<div class="constructor__button-block">
				<button class="btn constructor__btn" type="submit">Добавить в корзину</button>
			</div>
		</div>
	</div>
</form>