form.constructor-form.js-constructor-form(action="#" method="post")
    .constructor-form-block.flex.sex.js-constructor-block.current
        .constructor-form-block__step-one.js-step-one
            p.constructor-form-block__name Какие
            .constructor-form-block__wrap
                .constructor__item
                    input(id="sex1" type="radio" name="sex").constructor__input.js-checked-input
                    label(for="sex1").constructor__label.constructor__label--sex.constructor__label--sex-m.js-label Мужские
                .constructor__item
                    input(id="sex2" type="radio" name="sex").constructor__input.js-checked-input
                    label(for="sex2").constructor__label.constructor__label--sex.constructor__label--sex-f.js-label Женские
        .constructor-form-block__step-two.js-step-two
            p.constructor-form-block__name Размер
            .constructor-form-block__wrap
                .constructor__item
                    input(id="s1" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s1").constructor-size__label.js-label 34
                .constructor__item
                    input(id="s2" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s2").constructor-size__label.js-label 35
                .constructor__item
                    input(id="s3" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s3").constructor-size__label.js-label 36
                .constructor__item
                    input(id="s4" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s4").constructor-size__label.js-label 37
                .constructor__item
                    input(id="s5" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s5").constructor-size__label.js-label 38
                .constructor__item
                    input(id="s6" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s6").constructor-size__label.js-label 39
                .constructor__item
                    input(id="s7" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s7").constructor-size__label.js-label 40
                .constructor__item
                    input(id="s8" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s8").constructor-size__label.js-label 41
                .constructor__item
                    input(id="s9" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s9").constructor-size__label.js-label 42
                .constructor__item
                    input(id="s10" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s10").constructor-size__label.js-label 43
                .constructor__item
                    input(id="s11" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s11").constructor-size__label.js-label 44
                .constructor__item
                    input(id="s12" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s12").constructor-size__label.js-label 45
                .constructor__item
                    input(id="s13" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s13").constructor-size__label.js-label 46
                .constructor__item
                    input(id="s14" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s14").constructor-size__label.js-label 47
                .constructor__item
                    input(id="s15" type="radio" name="size").constructor__input.js-checked-input
                    label(for="s15").constructor-size__label.js-label 48
    |
    |
    .constructor-form-block.color.js-constructor-block
        p.constructor-form-block__name Оттенок камуса
        .constructor-form-block__wrap
            .constructor__item
                input(id="c1" type="radio" name="color").constructor__input.js-checked-input
                label(for="c1").constructor__label.constructor__label--square.color-1.js-label
            .constructor__item
                input(id="c2" type="radio" name="color").constructor__input.js-checked-input
                label(for="c2").constructor__label.constructor__label--square.color-2.js-label
            span.constructor__item-title.constructor__item-title--color Темный

            .constructor__item
                input(id="c3" type="radio" name="color").constructor__input.js-checked-input
                label(for="c3").constructor__label.constructor__label--square.color-3.js-label
            .constructor__item
                input(id="c4" type="radio" name="color").constructor__input.js-checked-input
                label(for="c4").constructor__label.constructor__label--square.color-4.js-label
            span.constructor__item-title.constructor__item-title--color Средний

            .constructor__item
                input(id="c5" type="radio" name="color").constructor__input.js-checked-input
                label(for="c5").constructor__label.constructor__label--square.color-5.js-label
            .constructor__item
                input(id="c6" type="radio" name="color").constructor__input.js-checked-input
                label(for="c6").constructor__label.constructor__label--square.color-6.js-label
            span.constructor__item-title.constructor__item-title--color Светлый
    |
    |
    .constructor-form-block.material.js-constructor-block
        p.constructor-form-block__name Корсаж
        .constructor-form-block__wrap
            span.constructor__item-title.constructor__item-title--material Эко-кожа
            .constructor__item
                input(id="m1" type="radio" name="material" value="1000").constructor__input.js-input.js-checked-input
                label(for="m1").constructor__label.constructor__label--square.material-1.js-label
            .constructor__item
                input(id="m2" type="radio" name="material" value="1000").constructor__input.js-input.js-checked-input
                label(for="m2").constructor__label.constructor__label--square.material-2.js-label
            .constructor__item
                input(id="m3" type="radio" name="material" value="1000").constructor__input.js-input.js-checked-input
                label(for="m3").constructor__label.constructor__label--square.material-3.js-label
            .constructor__item
                input(id="m4" type="radio" name="material" value="1000").constructor__input.js-input.js-checked-input
                label(for="m4").constructor__label.constructor__label--square.material-4.js-label
        .constructor-form-block__wrap
            span.constructor__item-title.constructor__item-title--material Вышивка на эко-коже
            .constructor__item
                input(id="m21" type="radio" name="material" value="2000").constructor__input.js-input.js-checked-input
                label(for="m21").constructor__label.constructor__label--square.material-21.js-label
            .constructor__item
                input(id="m22" type="radio" name="material" value="2000").constructor__input.js-input.js-checked-input
                label(for="m22").constructor__label.constructor__label--square.material-22.js-label
            .constructor__item
                input(id="m23" type="radio" name="material" value="2000").constructor__input.js-input.js-checked-input
                label(for="m23").constructor__label.constructor__label--square.material-23.js-label
            .constructor__item
                input(id="m24" type="radio" name="material" value="2000").constructor__input.js-input.js-checked-input
                label(for="m24").constructor__label.constructor__label--square.material-24.js-label
        .constructor-form-block__wrap
            span.constructor__item-title.constructor__item-title--material Бисер
            .constructor__item
                input(id="m5" type="radio" name="material" value="3000").constructor__input.js-input.js-checked-input
                label(for="m5").constructor__label.constructor__label--square.material-5.js-label
            .constructor__item
                input(id="m6" type="radio" name="material" value="3000").constructor__input.js-input.js-checked-input
                label(for="m6").constructor__label.constructor__label--square.material-6.js-label
            .constructor__item
                input(id="m7" type="radio" name="material" value="3000").constructor__input.js-input.js-checked-input
                label(for="m7").constructor__label.constructor__label--square.material-7.js-label
            .constructor__item
                input(id="m8" type="radio" name="material" value="3000").constructor__input.js-input.js-checked-input
                label(for="m8").constructor__label.constructor__label--square.material-8.js-label

        .constructor-form-block__wrap
            span.constructor__item-title.constructor__item-title--material Вышивка с камнями
            .constructor__item
                input(id="m9" type="radio" name="material" value="4000").constructor__input.js-input.js-checked-input
                label(for="m9").constructor__label.constructor__label--square.material-9.js-label
            .constructor__item
                input(id="m10" type="radio" name="material" value="4000").constructor__input.js-input.js-checked-input
                label(for="m10").constructor__label.constructor__label--square.material-10.js-label
            .constructor__item
                input(id="m11" type="radio" name="material" value="4000").constructor__input.js-input.js-checked-input
                label(for="m11").constructor__label.constructor__label--square.material-11.js-label
            .constructor__item
                input(id="m12" type="radio" name="material" value="4000").constructor__input.js-input.js-checked-input
                label(for="m12").constructor__label.constructor__label--square.material-12.js-label

        .constructor-form-block__wrap
            span.constructor__item-title.constructor__item-title--material Камни
            .constructor__item
                input(id="m13" type="radio" name="material" value="5000").constructor__input.js-input.js-checked-input
                label(for="m13").constructor__label.constructor__label--square.material-13.js-label
            .constructor__item
                input(id="m14" type="radio" name="material" value="5000").constructor__input.js-input.js-checked-input
                label(for="m14").constructor__label.constructor__label--square.material-14.js-label
            .constructor__item
                input(id="m15" type="radio" name="material" value="5000").constructor__input.js-input.js-checked-input
                label(for="m15").constructor__label.constructor__label--square.material-15.js-label
            .constructor__item
                input(id="m16" type="radio" name="material" value="5000").constructor__input.js-input.js-checked-input
                label(for="m16").constructor__label.constructor__label--square.material-16.js-label

        .constructor-form-block__wrap
            span.constructor__item-title.constructor__item-title--material Камус
            .constructor__item
                input(id="m17" type="radio" name="material" value="6000").constructor__input.js-input.js-checked-input
                label(for="m17").constructor__label.constructor__label--square.material-17.js-label
            .constructor__item
                input(id="m18" type="radio" name="material" value="6000").constructor__input.js-input.js-checked-input
                label(for="m18").constructor__label.constructor__label--square.material-18.js-label
            .constructor__item
                input(id="m19" type="radio" name="material" value="6000").constructor__input.js-input.js-checked-input
                label(for="m19").constructor__label.constructor__label--square.material-19.js-label
            .constructor__item
                input(id="m20" type="radio" name="material" value="6000").constructor__input.js-input.js-checked-input
                label(for="m20").constructor__label.constructor__label--square.material-20.js-label


    |
    |
    .constructor-form-block.inside.js-constructor-block
        p.constructor-form-block__name Внутренний материал
        .constructor-form-block__wrap
            .constructor__item
                input(id="i1" type="radio" name="inside" value="2000").constructor__input.constructor__input--inside.js-input.js-checked-input
                label(for="i1").constructor__label.constructor__label--inside.constructor__label--inside-nat.js-label Натуральная овчина
            .constructor__item
                input(id="i2" type="radio" name="inside" value="1000").constructor__input.constructor__input--inside.js-input.js-checked-input
                label(for="i2").constructor__label.constructor__label--inside.constructor__label--inside-comb.js-label Комбиниро-ванный
    |
    |
    .constructor-form-block.result.js-constructor-block
        p.js-error-block.constructor-form-block__name Активируйте все параметры
        .constructor-form-block__wrap.price.js-price
            .constructor__price
                p.constructor__price-title Приблизительная цена
                p.constructor__price-value.js-total-price 0 ₽
            .constructor__button-block
                button(type="submit").btn.constructor__btn Добавить в корзину
