@charset "UTF-8";
/*-------------------------------------------------переменные-------------------------------------------------*/
.how-to-buy {
  padding-top: 60px; }

.how-to-buy__wrap {
  margin-top: 41px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.how-to-buy__item {
  min-width: 213px;
  width: 213px;
  position: relative;
  text-align: center;
  margin-right: 129px;
  margin-bottom: 13px; }

.step4 {
  margin-right: 0; }

.how-to-buy__img {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 14px;
  position: relative; }

.how-to-buy__img::before {
  content: "";
  display: block;
  width: 34px;
  height: 34px;
  background: #EFEDF9;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: -19px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.8px;
  line-height: 34px; }

.step1 .how-to-buy__img::before {
  content: "1"; }

.step2 .how-to-buy__img::before {
  content: "2"; }

.step3 .how-to-buy__img::before {
  content: "3"; }

.step4 .how-to-buy__img::before {
  content: "4"; }

.step5 .how-to-buy__img::before {
  content: "5"; }

.step6 .how-to-buy__img::before {
  content: "6"; }

.step7 .how-to-buy__img::before {
  content: "7"; }

.step1 .how-to-buy__img {
  background: #553091 url("../../img/icon-steps-1.svg") center center no-repeat; }

.step2 .how-to-buy__img {
  background: #553091 url("../../img/icon-steps-2.svg") center center no-repeat; }

.step3 .how-to-buy__img {
  background: #553091 url("../../img/icon-steps-3.svg") center center no-repeat; }

.step4 .how-to-buy__img {
  background: #553091 url("../../img/icon-steps-4.svg") center center no-repeat; }

.step5 .how-to-buy__img {
  background: #553091 url("../../img/icon-steps-5.svg") center center no-repeat; }

.step6 .how-to-buy__img {
  background: #553091 url("../../img/icon-steps-6.svg") center center no-repeat; }

.step7 .how-to-buy__img {
  background: #553091 url("../../img/icon-steps-7.svg") center center no-repeat; }

.how-to-buy__img::after {
  content: "";
  display: block;
  width: 130px;
  height: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.step1 .how-to-buy__img::after,
.step2 .how-to-buy__img::after,
.step3 .how-to-buy__img::after {
  right: -130px;
  background: url("../../img/arrow-r.svg") right center no-repeat; }

.step4 .how-to-buy__img::after {
  width: 77px;
  height: 60px;
  background: url("../../img/arrow-z.svg") center center no-repeat;
  bottom: -150px;
  top: unset;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
  left: -9%; }

.step5 .how-to-buy__img::after,
.step6 .how-to-buy__img::after {
  left: -130px;
  background: url("../../img/arrow-l.svg") left center no-repeat; }

.how-to-buy__text {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.8px;
  padding: 0 13px;
  display: inline-block; }

.how-to-buy__link {
  display: block;
  width: 83px;
  margin: 8px auto 0; }

@media all and (max-width: 1340px) {
  .how-to-buy__container {
    padding: 0; } }

@media all and (max-width: 1240px) {
  .how-to-buy__item {
    min-width: 200px;
    width: 200px;
    margin-right: 0;
    padding: 0 5px;
    margin-bottom: 60px; }
  .how-to-buy__img::after {
    display: none; }
  .how-to-buy__wrap {
    position: relative;
    max-width: 413px;
    margin: 70px auto 0;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .step6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; }
  .step7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7; }
  .step2,
  .step4,
  .step6 {
    position: relative;
    top: 135px; } }
