.pattern__wrap.pattern-wide
    .pattern.pattern1.animate__animated.animate__fadeInLeft.wow
    .pattern.pattern2.animate__animated.animate__fadeInDown.wow
    .pattern.pattern3.animate__animated.animate__fadeInUp.wow
    .pattern.pattern4.animate__animated.animate__fadeInLeft.wow
    .pattern.pattern5.animate__animated.animate__fadeInRight.wow
    .pattern.pattern6.animate__animated.animate__fadeInDown.wow
    .pattern.pattern1.animate__animated.animate__fadeInUp.wow
    .pattern.pattern2.animate__animated.animate__fadeInLeft.wow
    .pattern.pattern3.animate__animated.animate__fadeInRight.wow
    .pattern.pattern4.animate__animated.animate__fadeInDown.wow
    .pattern.pattern5.animate__animated.animate__fadeInRight.wow
    .pattern.pattern6.animate__animated.animate__fadeInLeft.wow
    .pattern.pattern1.animate__animated.animate__fadeInUp.wow
    .pattern.pattern2.animate__animated.animate__fadeInLeft.wow
    .pattern.pattern3.animate__animated.animate__fadeInRight.wow
    .pattern.pattern4.animate__animated.animate__fadeInDown.wow
    .pattern.pattern5.animate__animated.animate__fadeInRight.wow
    .pattern.pattern6.animate__animated.animate__fadeInLeft.wow
    .pattern.pattern1.animate__animated.animate__fadeInUp.wow
    .pattern.pattern2.animate__animated.animate__fadeInLeft.wow
    .pattern.pattern3.animate__animated.animate__fadeInRight.wow
    .pattern.pattern4.animate__animated.animate__fadeInDown.wow
    .pattern.pattern5.animate__animated.animate__fadeInRight.wow
    .pattern.pattern6.animate__animated.animate__fadeInLeft.wow