@charset "UTF-8";
/*-------------------------------------------------переменные-------------------------------------------------*/
.reviews {
  padding-top: 80px;
  padding-bottom: 80px; }

.reviews__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.reviews .title span:first-child {
  margin-right: 0; }

.reviews-main {
  width: 490px; }

.reviews-main-slider__wrap {
  margin-top: 70px;
  position: relative; }

.reviews-main-slider__wrap::before {
  content: "";
  display: block;
  width: 100%;
  height: 530px;
  background: rgba(40, 42, 97, 0.05);
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1; }

.reviews-main-slider__img {
  height: 616px;
  border-radius: 8px;
  overflow: hidden; }

.reviews-main-slider__img img {
  width: unset;
  height: 100%;
  margin: 0 auto; }

.photo-main__wrap {
  min-width: 616px;
  width: 616px;
  margin-top: 70px; }

.photo-main__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.photo-main__row.hide {
  display: none; }

.photo-main__item {
  width: 192px;
  height: 192px;
  margin-bottom: 20px;
  background: #553091;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  line-height: 192px !important;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28.6px;
  color: #ffffff;
  position: relative;
  cursor: pointer; }

.item6, .item7, .item8 {
  margin-bottom: 0; }

.photo-main__bg,
.photo-main__img {
  height: 100%;
  display: block; }

.photo-main__img {
  pointer-events: none; }

.photo-main__img img {
  width: 100%; }

.photo-main__bg {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.photo-main__bg.active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.photo-main__item.item1 .photo-main__bg {
  background: #553091 url("../../img/p1.png") center center no-repeat; }

.photo-main__item.item2 .photo-main__bg {
  background: #553091 url("../../img/p2.png") center center no-repeat; }

.photo-main__item.item3 .photo-main__bg {
  background: #553091 url("../../img/p3.png") center center no-repeat; }

.photo-main__item.item4 .photo-main__bg {
  background: #553091 url("../../img/p4.png") center center no-repeat; }

.photo-main__item.item5 .photo-main__bg {
  background: #553091 url("../../img/p5.png") center center no-repeat; }

.photo-main__item.item6 .photo-main__bg {
  background: #553091 url("../../img/p6.png") center center no-repeat; }

.photo-main__item.item7 .photo-main__bg {
  background: #553091 url("../../img/p7.png") center center no-repeat; }

.photo-main__item.item8 .photo-main__bg {
  background: #553091 url("../../img/p8.png") center center no-repeat; }

@media all and (max-width: 1240px) {
  .reviews__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .reviews-main {
    margin: 0 auto 100px; }
  .photo-main__wrap {
    margin: 70px auto 0; } }

@media all and (max-width: 768px) {
  .reviews__wrap {
    padding: 0; }
  .photo-main__container {
    margin-top: 56px;
    position: relative;
    overflow: hidden;
    height: 616px; }
  .photo-main__wrap {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 0; } }

@media all and (max-width: 600px) {
  .reviews {
    padding-top: 100px;
    padding-bottom: 68px; }
  .reviews-main {
    width: 100%;
    padding: 0 40px; }
  .reviews-main-slider__img {
    height: 592px; }
  .reviews-main-slider__img img {
    width: unset;
    margin: 0 auto; }
  .photo-main__row:last-child {
    display: none; }
  .photo-main__container {
    height: 424px; } }
