section.categories
    .container
        .categories__wrap

            .categories__wrap-top

                a.categories-item.categories-item--top.unt-man(href="javascript:void(0)")
                    span.categories-item__wrap
                        span.categories-item__name
                            span.color-blue.categories-item__name--small Унты
                            br
                            |
                            span МУЖСКИЕ
                        span.categories-item__count
                            span 12 товаров
                a.categories-item.categories-item--top.unt-woman(href="javascript:void(0)")
                    span.categories-item__wrap
                        span.categories-item__name
                            span.color-blue.categories-item__name--small Унты
                            br
                            |
                            span женские
                        span.categories-item__count
                            span 12 товаров
                a.categories-item.categories-item--top.unt-child(href="javascript:void(0)")
                    span.categories-item__wrap
                        span.categories-item__name
                            span.color-blue.categories-item__name--small Унты
                            br
                            |
                            span детские
                        span.categories-item__count
                            span 12 товаров

            .categories__wrap-bottom

                a.categories-item.categories-item--bottom.clothes(href="javascript:void(0)")
                    span.categories-item__wrap
                        span.categories-item__name
                            span монгольская
                                span.color-blue одежда
                        span.categories-item__count
                            span 12 товаров
                a.categories-item.categories-item--bottom.shoes(href="javascript:void(0)")
                    span.categories-item__wrap
                        span.categories-item__name
                            span монгольская
                                span.color-blue обувь
                        span.categories-item__count
                            span 12 товаров
                a.categories-item.categories-item--bottom.acces-shoes(href="javascript:void(0)")
                    span.categories-item__wrap
                        span.categories-item__name
                            span аксессуары
                                span.color-blue Для обуви
                        span.categories-item__count
                            span 12 товаров
                a.categories-item.categories-item--bottom.acces-leather(href="javascript:void(0)")
                    span.categories-item__wrap
                        span.categories-item__name
                            span аксессуары
                                span.color-blue ИЗ кожи
                        span.categories-item__count
                            span 12 товаров
