@import "../../variables";

.categories {
  padding-top: 155px;
  padding-bottom: 80px;
}

.categories__wrap-top,
.categories__wrap-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.categories-item {
  background: $violet;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.categories-item--top {
  width: 408px;
  margin-bottom: 45px;
}

.categories-item--bottom {
  width: 303px;
}

.categories-item__wrap {
  position: relative;
  overflow: hidden;
  display: block;
}

.categories-item--top .categories-item__wrap {
  padding-top: 200px;
  padding-bottom: 29px;
}

.categories-item--bottom .categories-item__wrap {
  padding-top: 171px;
  padding-bottom: 27px;
}

.categories-item__wrap::after {
  content: "";
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  height: 100%;
  width: 125px;
  display: block;
  position: absolute;
  top: 0;
  left: -245px;
  transform: skewX(-34deg) translateX(0);
  transition: none;
}

.categories-item:hover {
  background: $violetAccent;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.categories-item__wrap:hover::after {
  transform: skewX(-34deg) translateX(800px);
  transition: all 0.7s ease-in-out;
}

.categories-item::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.categories-item--top::before {
  top: -65px;
  width: 256px;
  height: 256px;
}

.categories-item--bottom::before {
  top: -44px;
  width: 200px;
  height: 200px;
}

.categories-item--top.unt-man::before {
  background: url("../../img/Мужские-унты.png") center center no-repeat;
  background-size: contain;
}

.categories-item--top.unt-woman::before {
  background: url("../../img/Женские-унты.png") center center no-repeat;
  background-size: contain;
}

.categories-item--top.unt-child::before {
  background: url("../../img/Детские-унты1.png") center center no-repeat;
  background-size: contain;
}

.categories-item--bottom.clothes::before {
  background: url("../../img/Монгольская-одежда.png") center center no-repeat;
  background-size: contain;
}

.categories-item--bottom.shoes::before {
  background: url("../../img/Монгольская-обвуь.png") center center no-repeat;
  background-size: contain;
}

.categories-item--bottom.acces-shoes::before {
  background: url("../../img/Аксессуары-для-обуви.png") center center no-repeat;
  background-size: contain;
}

.categories-item--bottom.acces-leather::before {
  background: url("../../img/Аксессуары-из-кожи.png") center center no-repeat;
  background-size: contain;
}

.categories-item--top.unt-man:hover::before {
  background: url("../../img/Мужские-унты(2).png") center center no-repeat;
  background-size: contain;
}

.categories-item--top.unt-woman:hover::before {
  background: url("../../img/Женские-унты(2).png") center center no-repeat;
  background-size: contain;
}

.categories-item--top.unt-child:hover::before {
  background: url("../../img/Детские-унты2.png") center center no-repeat;
  background-size: contain;
}

.categories-item--bottom.clothes:hover::before {
  background: url("../../img/Монгольская-одежда(2).png") center center no-repeat;
  background-size: contain;
}

.categories-item--bottom.shoes:hover::before {
  background: url("../../img/Монгольская-обвуь(2).png") center center no-repeat;
  background-size: contain;
}

.categories-item--bottom.acces-shoes:hover::before {
  background: url("../../img/Аксессуары-для-обуви(2).png") center center no-repeat;
  background-size: contain;
}

.categories-item--bottom.acces-leather:hover::before {
  background: url("../../img/Аксессуары-из-кожи(2).png") center center no-repeat;
  background-size: contain;
}

.categories-item__name {
  color: $white;
  @include font_DB_32;
}

.categories-item__name--small {
  @include font_DB_24;
}

.categories-item__count {
  display: block;
  color: $white;
  @include font_PT_Reg_16;
}

.categories-item__count span {
  position: relative;
}

.categories-item__count span::after {
  content: "";
  display: none;
  width: 29px;
  height: 9px;
  background: url("../../img/arrow-long.svg") center center no-repeat;
  position: absolute;
  top: 8px;
  right: -40px;
}

.categories-item:hover .categories-item__count span::after {
  display: block;
}

.categories-item--top .categories-item__count {
  margin-top: 31px;
}

.categories-item--bottom .categories-item__count {
  margin-top: 24px;
}

.categories-item .color-blue {
  margin-left: 10px;
}

@media all and (max-width: 1340px) {
  .categories-item--top:not(:last-child) {
    margin-right: 20px;
  }
  .categories-item--bottom:not(:last-child) {
    margin-right: 2%;
  }
}

@media all and (max-width: 1240px) {
  .categories-item--bottom .categories-item__wrap {
    padding: 171px 20px 27px;
  }
  .categories-item--bottom {
    min-width: 20%;
  }
  .categories-item--bottom .color-blue {
    display: block;
    margin-left: 0;
  }
}

@media all and (max-width: 1024px) {
  .categories-item--top .categories-item__wrap,
  .categories-item--bottom .categories-item__wrap {
    padding: 20px;
  }
  .categories-item::before {
    display: none;
  }
}

@media all and (max-width: 800px) {
  .categories {
    padding-top: 55px;
    padding-bottom: 45px;
  }
  .categories__wrap-top, .categories__wrap-bottom {
    flex-wrap: wrap;
  }
  .categories-item--bottom,
  .categories-item--top {
    width: 48%;
    margin-bottom: 15px;
  }
  .categories-item--top .categories-item__wrap {
    padding: 8px 20px 17px;
  }
  .categories-item--bottom .categories-item__wrap {
    padding: 19px;
  }
  .categories-item--top:not(:last-child) {
    margin-right: 2%;
  }
  .categories-item--top.unt-man {
    width: 100%;
    margin-right: 0;
  }
  .categories-item--bottom.shoes {
    margin-right: 0;
  }
  .categories-item--top .categories-item__count {
    margin-top: 18px;
  }
  .categories-item--bottom .categories-item__count {
    margin-top: 9px;
  }
  .categories-item .color-blue {
    margin-left: 0;
  }
}

@media all and (max-width: 400px) {
  .categories-item__name {
    font-size: 24px;
    line-height: 28px;
  }
}