@import "../../variables";

.instagram {
  padding-bottom: 75px;
}

.instagram__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.instagram__title {
  @include font_PT_B_22;
}

.instagram__title span {
  margin-left: 10px;
}

.instagram__link {
  display: block;
  width: 122px;
  height: 40px;
  background: $violet;
  border-radius: 40px;
  position: relative;
  padding-left: 34px;
  line-height: 40px !important;
  color: $white;
  @include font_PT_B_16;
}

.instagram__link::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../../img/logo_insta.svg") center center no-repeat;
  position: absolute;
  top: 50%;
  left: 17px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.instagram__bottom {
  display: flex;
  justify-content: space-between;
}

.instagram__item {
  width: 298px;
  height: 298px;
  background: url("../../img/photo2.jpg") center center no-repeat;
  border-radius: 4px;
  overflow: hidden;
}

@media all and (max-width: 1024px) {
  .instagram__item {
    width: 186px;
    height: 186px;
    background-size: contain;
    margin-bottom: 14px;
  }
  .instagram__item:not(:last-child) {
    margin-right: 14px;
  }
}

@media all and (max-width: 800px) {
  .instagram__bottom {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media all and (max-width: 600px) {
  .instagram {
    padding-bottom: 26px;
  }
  .instagram__item:nth-child(2) {
    margin-right: 0;
  }
  .instagram__top {
    align-items: center;
  }
  .instagram__link span {
    display: none;
  }
  .instagram__link {
    width: 54px;
    height: 54px;
  }
}