section.instagram
    .container
        .instagram__top
            .instagram__title Мы в Instagram:
                span.color-violet s_siyanie
            a.instagram__link.btn(href="javascript:void(0)" target="_blank")
                span Открыть
        .instagram__bottom
            .instagram__item
            .instagram__item
            .instagram__item
            .instagram__item