// ----------------------------header-------------------------
include components/header/header
// ----------------------------end header------------------------

// ----------------------------description-------------------------
include components/description/description
// ----------------------------end description------------------------

// ----------------------------actions-------------------------
include components/actions/actions
// ----------------------------end actions-------------------------

// ----------------------------categories-------------------------
include components/categories/categories
// ----------------------------end categories-------------------------

// ----------------------------pattern middle-------------------------
include components/pattern_middle/pattern_middle
// ----------------------------end pattern middle-------------------------

// ----------------------------tizers-------------------------
include components/tizers/tizers
// ----------------------------end tizers-------------------------

// ----------------------------pattern small-------------------------
include components/pattern_small/pattern_small
// ----------------------------end pattern small-------------------------

// ----------------------------reviews-------------------------
include components/reviews/reviews
// ----------------------------end reviews-------------------------

// ----------------------------instagram-------------------------
include components/instagram/instagram
// ----------------------------end instagram-------------------------

// ----------------------------pattern small-------------------------
include components/pattern_small/pattern_small
// ----------------------------end pattern small-------------------------

// ----------------------------how to buy-------------------------
include components/how_to_buy/how_to_buy
// ----------------------------end how to buy-------------------------

// ----------------------------pattern small-------------------------
include components/pattern_wide/pattern_wide
// ----------------------------end pattern small-------------------------

// ----------------------------footer-------------------------
include components/footer/footer
// ----------------------------end footer------------------------

.overlay