// ----------------------------header-------------------------
include components/header/header
// ----------------------------end header------------------------

main.main
    // ----------------------------illustration-------------------------
    include components/illustration/illustration
    // ----------------------------end illustration------------------------

    // ----------------------------description-------------------------
    include components/description/description
    // ----------------------------end description------------------------

    // ----------------------------actions-------------------------
    include components/actions/actions
    // ----------------------------end actions-------------------------

    // ----------------------------categories-------------------------
    include components/categories/categories
    // ----------------------------end categories-------------------------

    // ----------------------------pattern middle-------------------------
    include components/pattern_middle/pattern_middle
    // ----------------------------end pattern middle-------------------------

    // ----------------------------tizers-------------------------
    include components/tizers/tizers
    // ----------------------------end tizers-------------------------

    // ----------------------------pattern small-------------------------
    .pattern-hide
        include components/pattern_small/pattern_small
    // ----------------------------end pattern small-------------------------

    // ----------------------------reviews-------------------------
    include components/reviews/reviews
    // ----------------------------end reviews-------------------------

    // ----------------------------instagram-------------------------
    include components/instagram/instagram
    // ----------------------------end instagram-------------------------

    // ----------------------------pattern small-------------------------
    include components/pattern_small/pattern_small
    // ----------------------------end pattern small-------------------------

    // ----------------------------how to buy-------------------------
    include components/how_to_buy/how_to_buy
    // ----------------------------end how to buy-------------------------

    // ----------------------------map-------------------------
    include components/map/map
    // ----------------------------end map-------------------------

    // ----------------------------pattern wide-------------------------
    include components/pattern_wide/pattern_wide
    // ----------------------------end pattern wide-------------------------

// ----------------------------footer-------------------------
include components/footer/footer
// ----------------------------end footer------------------------
script(src='js/jquery-3.3.1.min.js')
script(src='js/jquery.fancybox.min.js')
script(src='js/jquery.nicescroll.min.js')
script(src='js/simpleParallax.min.js')
script(src='js/slick.min.js')
script(src='js/wow.js')
script(src='js/script.js')