@import "variables";

/*-----------------------------------------------шрифты--------------------------------------------------------*/
@font-face {
  font-family: 'Dobrozrachniy';
  src: url('/fonts/Dobrozrachniy-Regular.woff2') format('woff2');
  src: url('/fonts/Dobrozrachniy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('/fonts/PTSans-Bold.woff2') format('woff2');
  src: url('/fonts/PTSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url('/fonts/PTSans-Regular.woff2') format('woff2');
  src: url('/fonts/PTSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/*--------------------------------------------------общие стили--------------------------------------------------*/
* {
  /*outline: 1px solid red;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  @include font_PT_Reg_16;
  color: $darkBlue;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body.no-scroll {
  overflow-y: hidden;
  padding-right: 15px;
}

input {
  outline: none;
}

select, button {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: none;
  cursor: pointer;
}

ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: $darkBlue;
  text-decoration: none;
}

a:hover {
  color: $violet;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1252px;
  margin: 0 auto;
}

.color-violet {
  color: $violet;
}

.color-blue {
  color: $blue;
}

.link {
  color: $violet;
  border-bottom: 1px solid rgba(85, 48, 145, 0.3);
}

.link:hover {
  border-bottom: 1px solid rgba(85, 48, 145, 1);
  -webkit-transition: border-bottom-color 0.3s ease;
  -moz-transition: border-bottom-color 0.3s ease;
  -ms-transition: border-bottom-color 0.3s ease;
  -o-transition: border-bottom-color 0.3s ease;
  transition: border-bottom-color 0.3s ease;
}

.link:visited {
  color: $blue;
  border-bottom: 1px solid rgba(140, 211, 228, 0.6);
}

.flex {
  display: flex;
  align-items: center;
  width: 100%;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.btn {
  display: block;
  width: 204px;
  height: 58px;
  line-height: 58px;
  background: $violet;
  border-radius: 40px;
  color: $white;
  @include font_PT_B_18;
  text-align: center;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: "";
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  height: 100%;
  width: 60px;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-34deg) translateX(0);
  transition: none;
}

.btn:hover {
  color: $white;
  background: $violetAccent;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.btn:hover::before {
  transform: skewX(-34deg) translateX(300px);
  transition: all 0.7s ease-in-out;
}

.btn.disabled {
  cursor: not-allowed;
  background: $grey;
  color: rgba(40, 42, 97, 0.5);
}

.btn-contour {
  display: block;
  width: 204px;
  height: 58px;
  line-height: 58px;
  background: $white;
  border: 2px solid $grey;
  border-radius: 40px;
  color: $darkBlue;
  @include font_PT_B_18;
  text-align: center;
}

.btn-contour:hover {
  border-color: $violet;
  color: $violet;
}

.btn-contour.disabled {
  cursor: not-allowed;
  background: $grey;
  color: rgba(40, 42, 97, 0.3);
}

.title {
  @include font_DB_40;
  text-align: center;
}

.title span:first-child {
  margin-right: 10px;
}

.title-page {
  @include font_DB_40;
}

input::-webkit-input-placeholder {
  color:  $darkBlue;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  //@include font_PT_Reg_16;
}

input:-moz-placeholder {
  color:  $darkBlue;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  //@include font_PT_Reg_16;
}

input::-moz-placeholder {
  color:  $darkBlue;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  //@include font_PT_Reg_16;
}

input:-ms-input-placeholder {
  color:  $darkBlue;
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  //@include font_PT_Reg_16;
}

input:focus::-webkit-input-placeholder {
  opacity:0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

input:focus:-moz-placeholder {
  opacity:0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

input:focus::-moz-placeholder {
  opacity:0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

input:focus:-ms-input-placeholder {
  opacity:0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.logo__link {
  display: flex;
}

.logo__link img {
  margin-left: 11px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(40, 42, 97, .7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/*************animation logo***********/
.ss-01, .ss-02, .ss-03, .ss-04, .ss-05, .ss-06, .ss-07, .ss-08, .ss-09, .ss-10, .ss-11 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.ss-02, .ss-06, .ss-11 {
  animation-name: shine;
}

.ss-03, .ss-04, .ss-05, .ss-07, .ss-10 {
  animation-name: shine2;
}

.ss-01, .ss-09, .ss-08 {
  animation-name: shine3;
}

@keyframes shine {
  0%   {
    fill: rgba(140, 211, 228, 1);
  }
  25%  {
    fill: rgba(140, 211, 228, 0.7);
  }
  50% {
    fill: rgba(140, 211, 228, 0.3);
  }
  75% {
    fill: rgba(140, 211, 228, 0.7);
  }
  100% {
    fill: rgba(140, 211, 228, 1);
  }
}

@keyframes shine2 {
  0%   {
    fill: rgba(140, 211, 228, 0.7);
  }
  25%  {
    fill: rgba(140, 211, 228, 0.3);
  }
  50% {
    fill: rgba(140, 211, 228, 0.7);
  }
  75% {
    fill: rgba(140, 211, 228, 1);
  }
  100% {
    fill: rgba(140, 211, 228, 0.7);
  }
}

@keyframes shine3 {
  0%   {
    fill: rgba(140, 211, 228, 0.3);
  }
  25%  {
    fill: rgba(140, 211, 228, 0.7);
  }
  50% {
    fill: rgba(140, 211, 228, 1);
  }
  75% {
    fill: rgba(140, 211, 228, 0.7);
  }
  100% {
    fill: rgba(140, 211, 228, 0.3);
  }
}
/*************end animation logo***********/

/**************slider**************/
.slider {
  position: relative;
}

.slider-arrows {
  width: 100%;
  position: absolute;
  top: 50%;
}

.slider-arrows  .slick-arrow{
  width: 54px;
  height: 54px;
  border-radius: 50%;
  box-shadow:
          0 0 0 2px $grey,
          0 0 0 10px $white;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slider-arrows .slick-prev:hover,
.slider-arrows .slick-prev:focus,
.slider-arrows .slick-prev {
  background: $violet url("/img/arrow-left.svg") center center no-repeat;
  left: -26px;
}

.slider-arrows .slick-next:hover,
.slider-arrows .slick-next:focus,
.slider-arrows .slick-next {
  background: $violet url("/img/arrow-right.svg") center center no-repeat;
  right: -26px;
}

.progress-round {
  flex-shrink: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.circle-progress {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 15px;
}

.slick-slide img {
  width: 100%;
}

.slick-arrow:before,
.slick-dots li button:before {
  display: none;
}

.slick-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $grey;
}

.slick-slider .slick-dots li button:hover,
.slick-slider .slick-dots li.slick-active button {
  background: $violet;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.slick-slider .slick-dots {
  bottom: -45px;
}
/**************end slider**************/

/*******************pattern********************/
.pattern-wide {
  overflow: hidden;
}

.pattern__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83px;
  overflow: hidden;
}

.pattern:not(.pattern3) {
  margin-right: 20px;
}

.pattern1 {
  min-width: 55px;
  height: 83px;
  background: url("/img/pattern1.png") center center no-repeat;
}

.pattern2 {
  min-width: 67px;
  height: 77px;
  background: url("/img/pattern2.png") center center no-repeat;
}

.pattern3 {
  min-width: 44px;
  height: 65px;
  background: url("/img/pattern3.png") center center no-repeat;
}

.pattern4 {
  min-width: 88px;
  height: 66px;
  background: url("/img/pattern4.png") center center no-repeat;
}

.pattern5 {
  min-width: 64px;
  height: 66px;
  background: url("/img/pattern5.png") center center no-repeat;
}

.pattern6 {
  min-width: 89px;
  height: 67px;
  background: url("/img/pattern6.png") center center no-repeat;
}
/*******************end pattern********************/

/*****************socials links-block**************/
.links-block__title {
  margin-bottom: 12px;
}

.links-block__wrap {
  display: flex;
}

.links-block__item {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.links-block__item:not(:last-child) {
  margin-right: 5px;
}

.links-block__item--vk {
  background: $violet url("/img/icon-social-vk.svg") center center no-repeat;
}

.links-block__item--in {
  background: $violet url("/img/icon-social-insta.svg") center center no-repeat;
}

.links-block__item--fb{
  background: $violet url("/img/icon-social-facebook.svg") center center no-repeat;
}

.links-block__item--ok {
  background: $violet url("/img/icon-social-ok.svg") center center no-repeat;
}

.links-block__item:hover {
  background-color: $violetAccent;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.links-block--mobile .links-block__wrap {
  margin-top: 10px;
}

.links-block--mobile .links-block__item {
  width: 33px;
  height: 33px;
}

.links-block--mobile .links-block__item--vk {
  background: $violet url("/img/icon-social-vk.svg") center center no-repeat;
  background-size: 60%;
}

.links-block--mobile .links-block__item--fb{
  background: $violet url("/img/icon-social-facebook.svg") center center no-repeat;
  background-size: 60%;
}
/*****************end socials links-block**************/

/*****************mobile popup**************/
.mobile-popup {
  position: fixed;
  left: 0;
  bottom: -100%;
  width: 100%;
  max-height: 90%;
  border-radius: 16px 16px 0 0;
  background: $white;
  z-index: 1001;
  -webkit-transition: bottom 0.3s ease;
  -moz-transition: bottom 0.3s ease;
  -ms-transition: bottom 0.3s ease;
  -o-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
}

.mobile-popup.active {
  bottom: 0;
  -webkit-transition: bottom 0.3s ease;
  -moz-transition: bottom 0.3s ease;
  -ms-transition: bottom 0.3s ease;
  -o-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
}

.mobile-popup__header {
  padding: 10px 9px 10px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-popup__header.shadow {
  box-shadow: 0 4px 6px rgba(85, 48, 145, 0.1);
  position: relative;
  z-index: 1000;
}

.mobile-popup__title {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.mobile-popup__close {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: $violet url("/img/close-white.svg") center center no-repeat;
  cursor: pointer;
}

.mobile-popup__arrow {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: $violet url("/img/arrow-down-wh.svg") center center no-repeat;
  cursor: pointer;
}

.mobile-popup__main {
  padding-bottom: 30px;
  max-height: 100vh;
}

.catalog-top-item {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 28px);
  background: $white;
  box-shadow: 0 4px 6px rgba(85, 48, 145, 0.1);
  border-radius: 8px;
  position: fixed;
  top: 10px;
  left: 14px;
  padding-right: 17px;
  z-index: 10000;
}

.catalog-top-item.active {
  display: flex;
}

.catalog-top-item__left {
  display: flex;
  align-items: center;
}

.catalog-top-item__img {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  margin-right: 15px;
}

.catalog-top-item__img img {
  max-width: 100%;
}

.catalog-top-item__name {
  @include font_PT_B_16;
}

.catalog-top-item__price {
  @include font_DB_24;
  padding-bottom: 5px;
}

.catalog-btn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 16px;
  z-index: 1;
  -webkit-transition: bottom 0.3s ease;
  -moz-transition: bottom 0.3s ease;
  -ms-transition: bottom 0.3s ease;
  -o-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
}

.catalog-btn.hide {
  bottom: -50px;
  -webkit-transition: bottom 0.3s ease;
  -moz-transition: bottom 0.3s ease;
  -ms-transition: bottom 0.3s ease;
  -o-transition: bottom 0.3s ease;
  transition: bottom 0.3s ease;
}

.catalog-btn__link {
  width: 44px;
  height: 44px;
  background: $violet;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.catalog-btn.wide .catalog-btn__link {
  justify-content: space-between;
  width: 112px;
  padding: 0 19px;
  border-radius: 40px;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.catalog-btn__text {
  display: none;
  @include font_PT_B_14;
  color: $white;
}

.catalog-btn.wide .catalog-btn__text {
  display: block;
}

.catalog-btn__icon {
  display: block;
  min-width: 15px;
  height: 8px;
  background: url("/img/icon-menu-catalog.svg") center center no-repeat;
}

/*****************end mobile popup**************/
@media all and (max-width: 1340px) {
  .container {
    padding: 0 40px;
  }
}

@media all and (max-width: 768px) {
  .title,
  .title-page {
    font-size: 32px;
    line-height: 32px;
  }
  .pattern-hide {
    display: none;
  }
}

@media all and (max-width: 600px) {
  .catalog-btn {
    display: block;
  }
  .container {
    padding: 0 14px;
  }
}

@import "components/header/header";
@import "components/illustration/illustration";
@import "components/description/description";
@import "components/actions/actions";
@import "components/categories/categories";
@import "components/tizers/tizers";
@import "components/reviews/reviews";
@import "components/instagram/instagram";
@import "components/how_to_buy/how_to_buy";
@import "components/map/map";
@import "components/footer/footer";
@import "components/breadcrumbs/breadcrumbs";
@import "constructor";
@import "components/constructor/constructor-form/constructor-form";
@import "components/constructor/unty/unty";
@import "components/constructor/constructor-mobile/constructor-mobile";