/*-------------------------------------------------переменные-------------------------------------------------*/
$violet: #553091;
$violetAccent: #6637B1;
$blue: #8cd3e4;
$blueAccent: #61CFE8;
$darkBlue: #282A61;
$white: #ffffff;

$grey: #EFEDF9;
$lightBlue: #D9D9FF;

@mixin font_DB_60 {
  font-family: 'Dobrozrachniy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
}

@mixin font_DB_40 {
  font-family: 'Dobrozrachniy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

@mixin font_DB_32 {
  font-family: 'Dobrozrachniy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
}

@mixin font_DB_24 {
  font-family: 'Dobrozrachniy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

@mixin font_PT_B_22 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28.6px;
}

@mixin font_PT_B_18 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

@mixin font_PT_B_18slim {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

@mixin font_PT_Reg_16 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
}

@mixin font_PT_Reg_16slim {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

@mixin font_PT_B_16 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.8px;
}

@mixin font_PT_B_16slim {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

@mixin font_PT_B_14 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18.2px;
}

@mixin font_PT_Reg_14 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
}

@mixin font_PT_B_12 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15.6px;
}