
<section class="reviews">
	<div class="container reviews__wrap">
		<div class="reviews-main">
			<h2 class="title"><span class="color-violet">РЕАЛЬНЫЕ</span><br/><span class="color-blue">ОТЗЫВЫ</span></h2>
			<div class="reviews-main-slider slider">
				<div class="slider-arrows">
					<div class="slider__arrow slider__arrow-prev"></div>
					<div class="slider__arrow slider__arrow-next"></div>
				</div>
				<div class="reviews-main-slider__wrap">
					<div class="reviews-main-slider__item">
						<div class="reviews-main-slider__img"><img src="../../img/review.jpg"/></div>
					</div>
					<div class="reviews-main-slider__item">
						<div class="reviews-main-slider__img"><img src="../../img/review.jpg"/></div>
					</div>
					<div class="reviews-main-slider__item">
						<div class="reviews-main-slider__img"><img src="../../img/review.jpg"/></div>
					</div>
				</div>
			</div>
		</div>
		<div class="photo-main">
			<h2 class="title"><span class="color-violet">БОЛЕЕ 1000 ФОТО</span><br/><span class="color-blue">ПРОДУКЦИИ</span></h2>
			<div class="photo-main__wrap">
				<div class="photo-main__row">
					<div class="photo-main__item item1"><a class="photo-main__img" href="../../img/photo1.jpg"><img src="../../img/photo1.jpg"/></a>
						<div class="photo-main__bg active"></div>
					</div>
					<div class="photo-main__item item2"><a class="photo-main__img" href="../../img/photo2.jpg"><img src="../../img/photo2.jpg"/></a>
						<div class="photo-main__bg"></div>
					</div>
					<div class="photo-main__item item3"><a class="photo-main__img" href="../../img/photo3.jpg"><img src="../../img/photo3.jpg"/></a>
						<div class="photo-main__bg"></div>
					</div>
				</div>
				<div class="photo-main__row">
					<div class="photo-main__item item4"><a class="photo-main__img" href="../../img/photo4.jpg"><img src="../../img/photo4.jpg"/></a>
						<div class="photo-main__bg"></div>
					</div>
					<div class="photo-main__item">Смотреть</div>
					<div class="photo-main__item item5"><a class="photo-main__img" href="../../img/photo5.jpg"><img src="../../img/photo5.jpg"/></a>
						<div class="photo-main__bg"></div>
					</div>
				</div>
				<div class="photo-main__row">
					<div class="photo-main__item item6"><a class="photo-main__img" href="../../img/photo6.jpg"><img src="../../img/photo6.jpg"/></a>
						<div class="photo-main__bg"></div>
					</div>
					<div class="photo-main__item item7"><a class="photo-main__img" href="../../img/photo7.jpg"><img src="../../img/photo7.jpg"/></a>
						<div class="photo-main__bg active"></div>
					</div>
					<div class="photo-main__item item8"><a class="photo-main__img" href="../../img/photo8.jpg"><img src="../../img/photo8.jpg"/></a>
						<div class="photo-main__bg"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>