
<section class="reviews">
	<div class="container reviews__wrap">
		<div class="reviews-main">
			<h2 class="title"><span class="color-violet">РЕАЛЬНЫЕ</span><br/><span class="color-blue">ОТЗЫВЫ</span></h2>
			<div class="reviews-main-slider slider">
				<div class="reviews-main-slider__wrap">
					<div class="reviews-main-slider__item">
						<div class="reviews-main-slider__img"><img src="../../img/review.jpg"/></div>
					</div>
					<div class="reviews-main-slider__item">
						<div class="reviews-main-slider__img"><img src="../../img/review.jpg"/></div>
					</div>
					<div class="reviews-main-slider__item">
						<div class="reviews-main-slider__img"><img src="../../img/review.jpg"/></div>
					</div>
				</div>
			</div>
		</div>
		<div class="photo-main">
			<h2 class="title"><span class="color-violet">БОЛЕЕ 1000 ФОТО</span><br/><span class="color-blue">ПРОДУКЦИИ</span></h2>
			<div class="photo-main__container">
				<div class="photo-main__wrap">
					<div class="photo-main__row">
						<div class="photo-main__item item1"><a class="photo-main__img" href="../../img/photo1.jpg"><img class="show" src="../../img/photo1.jpg"/></a>
							<div class="photo-main__bg active"></div>
						</div>
						<div class="photo-main__item item2"><a class="photo-main__img" href="../../img/photo2.jpg"><img class="show" src="../../img/photo2.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item3"><a class="photo-main__img" href="../../img/photo3.jpg"><img class="show" src="../../img/photo3.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
					</div>
					<div class="photo-main__row">
						<div class="photo-main__item item4"><a class="photo-main__img" href="../../img/photo4.jpg"><img class="show" src="../../img/photo4.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item">Смотреть</div>
						<div class="photo-main__item item5"><a class="photo-main__img" href="../../img/photo5.jpg"><img class="show" src="../../img/photo5.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
					</div>
					<div class="photo-main__row">
						<div class="photo-main__item item6"><a class="photo-main__img" href="../../img/photo6.jpg"><img class="show" src="../../img/photo6.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item7"><a class="photo-main__img" href="../../img/photo7.jpg"><img class="show" src="../../img/photo7.jpg"/></a>
							<div class="photo-main__bg active"></div>
						</div>
						<div class="photo-main__item item8"><a class="photo-main__img" href="../../img/photo8.jpg"><img class="show" src="../../img/photo8.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
					</div>
					<div class="photo-main__row hide">
						<div class="photo-main__item item6"><a class="photo-main__img" href="../../img/photo9.jpg"><img class="hide" src="../../img/photo9.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item7"><a class="photo-main__img" href="../../img/photo10.jpg"><img class="hide" src="../../img/photo10.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item8"><a class="photo-main__img" href="../../img/photo11.jpg"><img class="hide" src="../../img/photo11.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
					</div>
					<div class="photo-main__row hide">
						<div class="photo-main__item item6"><a class="photo-main__img" href="../../img/photo12.jpg"><img class="hide" src="../../img/photo12.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item7"><a class="photo-main__img" href="../../img/photo13.jpg"><img class="hide" src="../../img/photo13.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item8"><a class="photo-main__img" href="../../img/photo14.jpg"><img class="hide" src="../../img/photo14.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
					</div>
					<div class="photo-main__row hide">
						<div class="photo-main__item item6"><a class="photo-main__img" href="../../img/photo15.jpg"><img class="hide" src="../../img/photo15.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item7"><a class="photo-main__img" href="../../img/photo16.jpg"><img class="hide" src="../../img/photo16.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item8"><a class="photo-main__img" href="../../img/photo17.jpg"><img class="hide" src="../../img/photo17.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
					</div>
					<div class="photo-main__row hide">
						<div class="photo-main__item item6"><a class="photo-main__img" href="../../img/photo18.jpg"><img class="hide" src="../../img/photo18.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item7"><a class="photo-main__img" href="../../img/photo19.jpg"><img class="hide" src="../../img/photo19.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item8"><a class="photo-main__img" href="../../img/photo20.jpg"><img class="hide" src="../../img/photo20.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
					</div>
					<div class="photo-main__row hide">
						<div class="photo-main__item item6"><a class="photo-main__img" href="../../img/photo21.jpg"><img class="hide" src="../../img/photo21.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item7"><a class="photo-main__img" href="../../img/photo22.jpg"><img class="hide" src="../../img/photo22.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item8"><a class="photo-main__img" href="../../img/photo23.jpg"><img class="hide" src="../../img/photo23.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
					</div>
					<div class="photo-main__row hide">
						<div class="photo-main__item item6"><a class="photo-main__img" href="../../img/photo24.jpg"><img class="hide" src="../../img/photo24.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item7"><a class="photo-main__img" href="../../img/photo25.jpg"><img class="hide" src="../../img/photo25.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
						<div class="photo-main__item item8"><a class="photo-main__img" href="../../img/photo26.jpg"><img class="hide" src="../../img/photo26.jpg"/></a>
							<div class="photo-main__bg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>