section.reviews
    .container.reviews__wrap
        .reviews-main
            h2.title
                span.color-violet РЕАЛЬНЫЕ
                br
                |
                span.color-blue ОТЗЫВЫ
            .reviews-main-slider.slider
                .slider-arrows
                    .slider__arrow.slider__arrow-prev
                    .slider__arrow.slider__arrow-next
                .reviews-main-slider__wrap
                    .reviews-main-slider__item
                        .reviews-main-slider__img
                            img(src="../../img/review.jpg")
                    .reviews-main-slider__item
                        .reviews-main-slider__img
                            img(src="../../img/review.jpg")
                    .reviews-main-slider__item
                        .reviews-main-slider__img
                            img(src="../../img/review.jpg")
        .photo-main
            h2.title
                span.color-violet БОЛЕЕ 1000 ФОТО
                br
                |
                span.color-blue ПРОДУКЦИИ
            .photo-main__wrap
                .photo-main__row
                    .photo-main__item.item1
                        a.photo-main__img(href="../../img/photo1.jpg")
                            img(src="../../img/photo1.jpg")
                        .photo-main__bg.active
                    .photo-main__item.item2
                        a.photo-main__img(href="../../img/photo2.jpg")
                            img(src="../../img/photo2.jpg")
                        .photo-main__bg
                    .photo-main__item.item3
                        a.photo-main__img(href="../../img/photo3.jpg")
                            img(src="../../img/photo3.jpg")
                        .photo-main__bg
                .photo-main__row
                    .photo-main__item.item4
                        a.photo-main__img(href="../../img/photo4.jpg")
                            img(src="../../img/photo4.jpg")
                        .photo-main__bg
                    .photo-main__item Смотреть
                    .photo-main__item.item5
                        a.photo-main__img(href="../../img/photo5.jpg")
                            img(src="../../img/photo5.jpg")
                        .photo-main__bg
                .photo-main__row
                    .photo-main__item.item6
                        a.photo-main__img(href="../../img/photo6.jpg")
                            img(src="../../img/photo6.jpg")
                        .photo-main__bg
                    .photo-main__item.item7
                        a.photo-main__img(href="../../img/photo7.jpg")
                            img(src="../../img/photo7.jpg")
                        .photo-main__bg.active
                    .photo-main__item.item8
                        a.photo-main__img(href="../../img/photo8.jpg")
                            img(src="../../img/photo8.jpg")
                        .photo-main__bg