.breadcrumbs
    .container
        nav.breadcrumbs-list
            a.nav.breadcrumbs-list__link(href="javascript:void(0)") Главная
            a.nav.breadcrumbs-list__link(href="javascript:void(0)") Каталог
            a.nav.breadcrumbs-list__link(href="javascript:void(0)") Унты мужские
            span.nav.breadcrumbs-list__link.breadcrumbs-list__last-link Унты мужские с эко-кожей
