.illustration
    .illustration__wrap
        .illustration__left-unt
        .illustration__right-unt
        .illustration__snowflake
        .illustration__shop
        .illustration__unt
        .illustration__kamus
        .illustration__snow1
        .illustration__snow2
        .illustration__snow3
        .illustration__snow4