
<div class="illustration">
	<div class="illustration__wrap">
		<div class="illustration__left-unt"></div>
		<div class="illustration__right-unt"></div>
		<div class="illustration__snowflake"></div>
		<div class="illustration__shop"></div>
		<div class="illustration__unt"></div>
		<div class="illustration__kamus"></div>
		<div class="illustration__snow1"></div>
		<div class="illustration__snow2"></div>
		<div class="illustration__snow3"></div>
		<div class="illustration__snow4"></div>
	</div>
</div>