section.how-to-buy
    .container.how-to-buy__container
        h2.title
            span.color-violet КАК КУПИТЬ
            span.color-blue УНТЫ
        .how-to-buy__wrap
            .how-to-buy__item.step1
                .how-to-buy__img
                span.how-to-buy__text Выбираем модель унтов
            .how-to-buy__item.step2
                .how-to-buy__img
                span.how-to-buy__text Измеряете ногу
                    a.link.how-to-buy__link(href="javascript:void(0)") Инструкция
            .how-to-buy__item.step3
                .how-to-buy__img
                span.how-to-buy__text Отправляете заказ через каталог или&nbsp;корзину
            .how-to-buy__item.step4
                .how-to-buy__img
                span.how-to-buy__text Консультант
                    br
                    | связывается с&nbsp;Вами
            .how-to-buy__item.step7
                .how-to-buy__img
                span.how-to-buy__text Вы получаете свой заказ
            .how-to-buy__item.step6
                .how-to-buy__img
                span.how-to-buy__text Изготавливаем и&nbsp;отправляем ваш заказ
            .how-to-buy__item.step5
                .how-to-buy__img
                span.how-to-buy__text Оплачиваете заказ

