
<section class="how-to-buy">
	<div class="container how-to-buy__container">
		<h2 class="title"><span class="color-violet">КАК КУПИТЬ</span><span class="color-blue">УНТЫ</span></h2>
		<div class="how-to-buy__wrap">
			<div class="how-to-buy__item step1">
				<div class="how-to-buy__img"></div><span class="how-to-buy__text">Выбираем модель унтов</span>
			</div>
			<div class="how-to-buy__item step2">
				<div class="how-to-buy__img"></div><span class="how-to-buy__text">Измеряете ногу<a class="link how-to-buy__link" href="javascript:void(0)">Инструкция</a></span>
			</div>
			<div class="how-to-buy__item step3">
				<div class="how-to-buy__img"></div><span class="how-to-buy__text">Отправляете заказ через каталог или&nbsp;корзину</span>
			</div>
			<div class="how-to-buy__item step4">
				<div class="how-to-buy__img"></div><span class="how-to-buy__text">Консультант<br/>связывается с&nbsp;Вами</span>
			</div>
			<div class="how-to-buy__item step7">
				<div class="how-to-buy__img"></div><span class="how-to-buy__text">Вы получаете свой заказ</span>
			</div>
			<div class="how-to-buy__item step6">
				<div class="how-to-buy__img"></div><span class="how-to-buy__text">Изготавливаем и&nbsp;отправляем ваш заказ</span>
			</div>
			<div class="how-to-buy__item step5">
				<div class="how-to-buy__img"></div><span class="how-to-buy__text">Оплачиваете заказ</span>
			</div>
		</div>
	</div>
</section>