
<section class="map">
	<div class="container">
		<h2 class="title"><span class="color-violet">Наши шоу-румы</span><span class="color-blue">В ИРКУТСКЕ</span></h2>
		<div class="map__wrap" id="map"></div>
		<div class="shops">
			<div class="shops-item active">
				<div class="shops-item__img"><span class="shops-item__number">1</span></div>
				<div class="shops-item__text"><span class="shops-item__address">Иркутск, Ленина 25</span><span>Телефон: 8(3952)962962</span><span>09:00 — 20:00<br/>Пн-Вс. Без выходных</span></div>
			</div>
			<div class="shops-item">
				<div class="shops-item__img"><span class="shops-item__number">2</span></div>
				<div class="shops-item__text"><span class="shops-item__address">Иркутск, Терешковой 24 Б</span><span>Телефон: 8(3952)962962</span><span>09:00 — 20:00<br/>Пн-Вс. Без выходных</span></div>
			</div>
			<div class="shops-item">
				<div class="shops-item__img"><span class="shops-item__number">3</span></div>
				<div class="shops-item__text"><span class="shops-item__address">Иркутск, Литвинова 17 пав. 14</span><span>Телефон: 8(3952)962962</span><span>09:00 — 20:00<br/>Пн-Вс. Без выходных</span></div>
			</div>
		</div>
	</div>
</section>