section.map
    .container
        h2.title
            span.color-violet Наши шоу-румы
            span.color-blue В ИРКУТСКЕ
        #map.map__wrap
        .shops
            .shops-item.active
                .shops-item__img
                    span.shops-item__number 1
                .shops-item__text
                    span.shops-item__address Иркутск, Ленина 25
                    span Телефон: 8(3952)962962
                    span 09:00 — 20:00
                        br
                        | Пн-Вс. Без выходных
            .shops-item
                .shops-item__img
                    span.shops-item__number 2
                .shops-item__text
                    span.shops-item__address Иркутск, Терешковой 24 Б
                    span Телефон: 8(3952)962962
                    span 09:00 — 20:00
                        br
                        | Пн-Вс. Без выходных
            .shops-item
                .shops-item__img
                    span.shops-item__number 3
                .shops-item__text
                    span.shops-item__address Иркутск, Литвинова 17 пав. 14
                    span Телефон: 8(3952)962962
                    span 09:00 — 20:00
                        br
                        | Пн-Вс. Без выходных