
<div class="catalog-list">
	<div class="catalog-item">
		<div class="catalog-item__top">
			<div class="catalog-icons">
				<div class="catalog-icon catalog-icon-chosen"><span class="catalog-icon__btn js-catalog-icon-chosen__btn"><span class="catalog-icon__icon"></span><span class="catalog-icon__text">Добавить в избранное</span></span></div>
				<div class="catalog-icon catalog-icon-hot"><span class="catalog-icon__btn js-mobile-catalog-link"><span class="catalog-icon__icon"></span><span class="catalog-icon__text">Горячая Новинка</span></span></div>
				<div class="catalog-discount"><span class="catalog-discount__text">скидка<span class="catalog-discount__value">40%</span></span></div>
			</div><img class="catalog-item__img" src="../../../img/catalog/cat1.jpg"/>
			<div class="catalog-item__images">
				<div class="catalog-item__images-item"><img src="../../../img/catalog/cat1.jpg"/></div>
				<div class="catalog-item__images-item"><img src="../../../img/catalog/cat2.jpg"/></div>
				<div class="catalog-item__images-item"><img src="../../../img/catalog/cat3.jpg"/></div>
				<div class="catalog-item__images-item"><img src="../../../img/catalog/cat4.jpg"/></div>
			</div>
		</div>
		<div class="catalog-item-bottom">
			<div class="catalog-item-bottom__desrcription"><span class="catalog-item__status">Все размеры</span><span class="catalog-item__name">Мужские унты МРЭ-1</span>
				<div class="catalog-prices">
					<div class="catalog-prices__old-price"><span class="catalog-prices__old-price-text">Старая цена</span><span class="old-price catalog-prices__old-price-value">31 300 ₽<span class="old-price__line"></span></span></div>
					<div class="catalog-prices__new-price"><span class="catalog-prices__new-price-text">Новая цена</span><span class="catalog-prices__new-price-value">20 400 ₽</span></div>
				</div>
			</div>
			<div class="catalog-item-bottom__desrcription-full">
				<div class="catalog-sizes"><span class="catalog-sizes__title">Размеры в наличии</span>
					<div class="catalog-sizes__wrap">
						<div class="catalog-sizes__item">35</div>
						<div class="catalog-sizes__item">36</div>
						<div class="catalog-sizes__item">37</div>
						<div class="catalog-sizes__item">38</div>
						<div class="catalog-sizes__item">39</div>
						<div class="catalog-sizes__item">40</div>
						<div class="catalog-sizes__item">41</div>
						<div class="catalog-sizes__item">42</div>
					</div>
				</div><span class="catalog-item__name catalog-item__name--full">Мужские унты МРЭ-1</span>
				<div class="catalog-prices">
					<div class="catalog-prices__old-price"><span class="catalog-prices__old-price-text">Старая цена</span><span class="old-price catalog-prices__old-price-value">31 300 ₽<span class="old-price__line"></span></span></div>
					<div class="catalog-prices__new-price"><span class="catalog-prices__new-price-text">Новая цена</span><span class="catalog-prices__new-price-value">20 400 ₽</span></div>
				</div>
			</div>
		</div>
	</div>
</div>