.catalog-list
    .catalog-item
        .catalog-item__top
            .catalog-icons
                .catalog-icon.catalog-icon-chosen
                    span.catalog-icon__btn.js-catalog-icon-chosen__btn
                        span.catalog-icon__icon
                        span.catalog-icon__text Добавить в избранное
                .catalog-icon.catalog-icon-hot
                    span.catalog-icon__btn.js-mobile-catalog-link
                        span.catalog-icon__icon
                        span.catalog-icon__text Горячая Новинка
                .catalog-discount
                    span.catalog-discount__text скидка
                        span.catalog-discount__value 40%
            img(src="../../../img/catalog/cat1.jpg").catalog-item__img
            .catalog-item__images
                .catalog-item__images-item
                    img(src="../../../img/catalog/cat1.jpg")
                .catalog-item__images-item
                    img(src="../../../img/catalog/cat2.jpg")
                .catalog-item__images-item
                    img(src="../../../img/catalog/cat3.jpg")
                .catalog-item__images-item
                    img(src="../../../img/catalog/cat4.jpg")
        .catalog-item-bottom
            .catalog-item-bottom__desrcription
                span.catalog-item__status Все размеры
                span.catalog-item__name Мужские унты МРЭ-1
                .catalog-prices
                    .catalog-prices__old-price
                        span.catalog-prices__old-price-text Старая цена
                        span.old-price.catalog-prices__old-price-value 31 300 ₽
                            span.old-price__line
                    .catalog-prices__new-price
                        span.catalog-prices__new-price-text Новая цена
                        span.catalog-prices__new-price-value 20 400 ₽
            .catalog-item-bottom__desrcription-full
                .catalog-sizes
                    span.catalog-sizes__title Размеры в наличии
                    .catalog-sizes__wrap
                        .catalog-sizes__item 35
                        .catalog-sizes__item 36
                        .catalog-sizes__item 37
                        .catalog-sizes__item 38
                        .catalog-sizes__item 39
                        .catalog-sizes__item 40
                        .catalog-sizes__item 41
                        .catalog-sizes__item 42
                span.catalog-item__name.catalog-item__name--full Мужские унты МРЭ-1
                .catalog-prices
                    .catalog-prices__old-price
                        span.catalog-prices__old-price-text Старая цена
                        span.old-price.catalog-prices__old-price-value 31 300 ₽
                            span.old-price__line
                    .catalog-prices__new-price
                        span.catalog-prices__new-price-text Новая цена
                        span.catalog-prices__new-price-value 20 400 ₽