
<section class="actions">
	<div class="container">
		<h2 class="title"><span class="color-violet">текущие</span><span class="color-blue">акции</span></h2>
		<div class="actions-slider slider">
			<div class="actions-slider__wrap">
				<div class="actions-slider-item"><img class="actions-slider-item__img" src="../../img/actions.jpg"/>
					<div class="actions-slider__text">
						<p class="actions-slider__title">СКИДКА 10% И 15%</p>
						<p class="actions-slider__descr"><span>Скидки 10% на все унты до 15.09.2020</span><span>Скидки 15% на монгольские сапоги до 30.09.2020</span></p><a class="btn actions-slider__btn" href="javascript:void(0)">Подробнее</a>
					</div>
				</div>
				<div class="actions-slider-item"><img class="actions-slider-item__img" src="../../img/actions.jpg"/>
					<div class="actions-slider__text">
						<p class="actions-slider__title">СКИДКА 10% И 15%</p>
						<p class="actions-slider__descr"><span>Скидки 10% на все унты до 15.09.2020</span><span>Скидки 15% на монгольские сапоги до 30.09.2020</span></p><a class="btn actions-slider__btn" href="javascript:void(0)">Подробнее</a>
					</div>
				</div>
				<div class="actions-slider-item"><img class="actions-slider-item__img" src="../../img/actions.jpg"/>
					<div class="actions-slider__text">
						<p class="actions-slider__title">СКИДКА 10% И 15%</p>
						<p class="actions-slider__descr"><span>Скидки 10% на все унты до 15.09.2020</span><span>Скидки 15% на монгольские сапоги до 30.09.2020</span></p><a class="btn actions-slider__btn" href="javascript:void(0)">Подробнее</a>
					</div>
				</div>
				<div class="actions-slider-item"><img class="actions-slider-item__img" src="../../img/actions.jpg"/>
					<div class="actions-slider__text">
						<p class="actions-slider__title">СКИДКА 10% И 15%</p>
						<p class="actions-slider__descr"><span>Скидки 10% на все унты до 15.09.2020</span><span>Скидки 15% на монгольские сапоги до 30.09.2020</span></p><a class="btn actions-slider__btn" href="javascript:void(0)">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>