@import "../../variables";

.actions {
  padding-top: 88px;
}

.actions-slider {
  margin-top: 52px;
}

.actions-slider-item {
  position: relative;
  border-radius: 8px;
}

.actions-slider__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 39px 77px;
}

.actions-slider__title {
  @include font_DB_60;
  color: $white;
  margin-bottom: 20px;
}

.actions-slider__descr {
  @include font_PT_B_22;
  color: $white;
  margin-bottom: 46px;
}

.actions-slider__btn {
  width: 191px;
  height: 80px;
  line-height: 80px !important;
  @include font_PT_B_22;
}

@media all and (max-width: 1280px) {
  .actions-slider-item {
    height: 514px!important;
    overflow: hidden;
  }
  .actions-slider .slick-slide img {
    width: unset;
    height: 100%;
    margin: 0 -200px 0 -300px;
  }
}

@media all and (max-width: 1024px) {
  .actions-slider .slick-slide img {
    margin: 0 -400px 0 -400px;
  }
}

@media all and (max-width: 768px) {
  .actions {
    padding-top: 72px;
  }
  .actions-slider {
    margin-top: 33px;
  }
  .actions-slider-item {
    text-align: center;
  }
  .actions-slider .slick-slide img {
    margin: 0 -400px 0 -500px;
  }
  .actions-slider__text {
    padding: 29px 47px;
  }
  .actions-slider__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 52px;
  }
  .actions-slider__descr {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 95px;
  }
  .actions-slider__btn {
    margin: 0 auto;
  }
}

@media all and (max-width: 600px) {
  .actions-slider {
    padding: 0 26px;
  }
  .actions-slider .slick-slide img {
    margin: 0 -400px 0 -700px;
  }
}