section.actions
    .container
        h2.title
            span.color-violet текущие
            span.color-blue акции
        .actions-slider.slider
            .slider-arrows
                .slider__arrow.slider__arrow-prev
                .slider__arrow.slider__arrow-next
            .actions-slider__wrap
                .actions-slider-item
                    img(src="../../img/actions.jpg").actions-slider-item__img
                    .actions-slider__text
                        p.actions-slider__title СКИДКА 10% И 15%
                        p.actions-slider__descr Скидки 10% на все унты до 15.09.2020
                            br
                            | Скидки 15% на монгольские сапоги до 30.09.2020
                        a.btn.actions-slider__btn(href="javascript:void(0)") Подробнее
                .actions-slider-item
                    img(src="../../img/actions.jpg").actions-slider-item__img
                    .actions-slider__text
                        p.actions-slider__title СКИДКА 10% И 15%
                        p.actions-slider__descr Скидки 10% на все унты до 15.09.2020
                            br
                            | Скидки 15% на монгольские сапоги до 30.09.2020
                        a.btn.actions-slider__btn(href="javascript:void(0)") Подробнее
                .actions-slider-item
                    img(src="../../img/actions.jpg").actions-slider-item__img
                    .actions-slider__text
                        p.actions-slider__title СКИДКА 10% И 15%
                        p.actions-slider__descr Скидки 10% на все унты до 15.09.2020
                            br
                            | Скидки 15% на монгольские сапоги до 30.09.2020
                        a.btn.actions-slider__btn(href="javascript:void(0)") Подробнее
                .actions-slider-item
                    img(src="../../img/actions.jpg").actions-slider-item__img
                    .actions-slider__text
                        p.actions-slider__title СКИДКА 10% И 15%
                        p.actions-slider__descr Скидки 10% на все унты до 15.09.2020
                            br
                            | Скидки 15% на монгольские сапоги до 30.09.2020
                        a.btn.actions-slider__btn(href="javascript:void(0)") Подробнее
