
<div class="pattern__wrap">
	<div class="pattern pattern1 animate__animated animate__fadeInLeft wow"></div>
	<div class="pattern pattern2 animate__animated animate__fadeInDown wow"></div>
	<div class="pattern pattern3 animate__animated animate__fadeInUp wow"></div>
	<div class="pattern pattern4 animate__animated animate__fadeInLeft wow"></div>
	<div class="pattern pattern5 animate__animated animate__fadeInRight wow"></div>
	<div class="pattern pattern6 animate__animated animate__fadeInDown wow"></div>
</div>