.catalog-slider__wrap
    .catalog-slider.slider-discount
        .catalog-slider__header
            .catalog-slider__name.slider-discount__name Сверхпредложение
            .catalog-slider__dots.slider-discount__dots
        .catalog-slider__wrap
            .slider-discount-item
                .slider-discount-item__left
                    .slider-discount-item__img
                    .catalog-discount
                        span.catalog-discount__text скидка
                            span.catalog-discount__value 40%
                .slider-discount-item__right
                    .catalog-prices
                        .catalog-prices__old-price
                            span.catalog-prices__old-price-text Старая цена
                            span.old-price.catalog-prices__old-price-value 31 300 ₽
                                span.old-price__line
                        .catalog-prices__new-price
                            span.catalog-prices__new-price-text Новая цена
                            span.catalog-prices__new-price-value 20 400 ₽
                    .slider-discount-item__timer
            .slider-discount-item
                .slider-discount-item__left
                    .slider-discount-item__img
                    span.slider-discount-item__discount скидка
                        span.slider-discount-item__discount-value 40%
                .slider-discount-item__right
                    .slider-discount-item__prices
                        .slider-discount-item__old-price
                            span.slider-discount-item__old-price-text Старая цена
                            span.old-price.slider-discount-item__old-price-value 31 300 ₽
                                span.old-price__line
                        .slider-discount-item__new-price
                            span.slider-discount-item__new-price-text Новая цена
                            span.slider-discount-item__new-price-value 20 400 ₽
                    .slider-discount-item__timer

    .catalog-slider.slider-hot
        .catalog-slider__header
            .catalog-slider__name.slider-hot__name Горячие новинки
            .catalog-slider__dots.slider-hot__dots
        .catalog-slider__wrap
            .slider-hot-item
                .slider-hot-item__img-wrap
                    img(src="../../../img/catalog/slider1.jpg")
                span.slider-hot-item__name Детские унты ДК-2
            .slider-hot-item
                .slider-hot-item__img-wrap
                    img(src="../../../img/catalog/slider2.jpg")
                span.slider-hot-item__name Мужские унты МРЭ-4
            .slider-hot-item
                .slider-hot-item__img-wrap
                    img(src="../../../img/catalog/slider1.jpg")
                span.slider-hot-item__name Детские унты ДК-2
            .slider-hot-item
                .slider-hot-item__img-wrap
                    img(src="../../../img/catalog/slider2.jpg")
                span.slider-hot-item__name Мужские унты МРЭ-4