
<div class="catalog-slider__wrap">
	<div class="catalog-slider slider-discount">
		<div class="catalog-slider__header">
			<div class="catalog-slider__name slider-discount__name">Сверхпредложение</div>
			<div class="catalog-slider__dots slider-discount__dots"></div>
		</div>
		<div class="catalog-slider__wrap">
			<div class="slider-discount-item">
				<div class="slider-discount-item__left">
					<div class="slider-discount-item__img"></div>
					<div class="catalog-discount"><span class="catalog-discount__text">скидка<span class="catalog-discount__value">40%</span></span></div>
				</div>
				<div class="slider-discount-item__right">
					<div class="catalog-prices">
						<div class="catalog-prices__old-price"><span class="catalog-prices__old-price-text">Старая цена</span><span class="old-price catalog-prices__old-price-value">31 300 ₽<span class="old-price__line"></span></span></div>
						<div class="catalog-prices__new-price"><span class="catalog-prices__new-price-text">Новая цена</span><span class="catalog-prices__new-price-value">20 400 ₽</span></div>
					</div>
					<div class="slider-discount-item__timer"></div>
				</div>
			</div>
			<div class="slider-discount-item">
				<div class="slider-discount-item__left">
					<div class="slider-discount-item__img"></div><span class="slider-discount-item__discount">скидка<span class="slider-discount-item__discount-value">40%</span></span>
				</div>
				<div class="slider-discount-item__right">
					<div class="slider-discount-item__prices">
						<div class="slider-discount-item__old-price"><span class="slider-discount-item__old-price-text">Старая цена</span><span class="old-price slider-discount-item__old-price-value">31 300 ₽<span class="old-price__line"></span></span></div>
						<div class="slider-discount-item__new-price"><span class="slider-discount-item__new-price-text">Новая цена</span><span class="slider-discount-item__new-price-value">20 400 ₽</span></div>
					</div>
					<div class="slider-discount-item__timer"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="catalog-slider slider-hot">
		<div class="catalog-slider__header">
			<div class="catalog-slider__name slider-hot__name">Горячие новинки</div>
			<div class="catalog-slider__dots slider-hot__dots"></div>
		</div>
		<div class="catalog-slider__wrap">
			<div class="slider-hot-item">
				<div class="slider-hot-item__img-wrap"><img src="../../../img/catalog/slider1.jpg"/></div><span class="slider-hot-item__name">Детские унты ДК-2</span>
			</div>
			<div class="slider-hot-item">
				<div class="slider-hot-item__img-wrap"><img src="../../../img/catalog/slider2.jpg"/></div><span class="slider-hot-item__name">Мужские унты МРЭ-4</span>
			</div>
			<div class="slider-hot-item">
				<div class="slider-hot-item__img-wrap"><img src="../../../img/catalog/slider1.jpg"/></div><span class="slider-hot-item__name">Детские унты ДК-2</span>
			</div>
			<div class="slider-hot-item">
				<div class="slider-hot-item__img-wrap"><img src="../../../img/catalog/slider2.jpg"/></div><span class="slider-hot-item__name">Мужские унты МРЭ-4</span>
			</div>
		</div>
	</div>
</div>