
<div class="filter">
	<div class="filter-item"><span class="filter-item__name">ЦЕНА, ₽</span>
		<input class="filter-item__input-range" type="range"/>
	</div>
	<div class="filter-item"><span class="filter-item__name">ЦВЕТ</span>
		<div class="filter-item__wrap">
			<input class="filter-item__input-color" id="c1" type="radio"/>
			<label class="filter-item__label" for="c1">Темно-кор ичневый</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-color" id="c2" type="radio"/>
			<label class="filter-item__label" for="c2">Темный</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-color" id="c3" type="radio"/>
			<label class="filter-item__label" for="c3">Серый</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-color" id="c4" type="radio"/>
			<label class="filter-item__label" for="c4">Бежевый</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-color" id="c5" type="radio"/>
			<label class="filter-item__label" for="c5">Светлый</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-color" id="c6" type="radio"/>
			<label class="filter-item__label" for="c6">Белый</label>
		</div>
	</div>
	<div class="filter-item"><span class="filter-item__name">РАЗМЕРЫ</span>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s1" type="radio"/>
			<label class="filter-item__label" for="s1">34</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s2" type="radio"/>
			<label class="filter-item__label" for="s2">35</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s3" type="radio"/>
			<label class="filter-item__label" for="s3">36</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s4" type="radio"/>
			<label class="filter-item__label" for="s4">37</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s5" type="radio"/>
			<label class="filter-item__label" for="s5">38</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s6" type="radio"/>
			<label class="filter-item__label" for="s6">39</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s7" type="radio"/>
			<label class="filter-item__label" for="s7">40</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s8" type="radio"/>
			<label class="filter-item__label" for="s8">41</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s9" type="radio"/>
			<label class="filter-item__label" for="s9">42</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s10" type="radio"/>
			<label class="filter-item__label" for="s10">43</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s11" type="radio"/>
			<label class="filter-item__label" for="s11">44</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s12" type="radio"/>
			<label class="filter-item__label" for="s12">45</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s13" type="radio"/>
			<label class="filter-item__label" for="s13">46</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s14" type="radio"/>
			<label class="filter-item__label" for="s14">47</label>
		</div>
		<div class="filter-item__wrap">
			<input class="filter-item__input-size" id="s15" type="radio"/>
			<label class="filter-item__label" for="s15">48</label>
		</div>
	</div>
</div>