.filter
    .filter-item
        span.filter-item__name ЦЕНА, ₽
        input(type="range").filter-item__input-range
    .filter-item
        span.filter-item__name ЦВЕТ
        .filter-item__wrap
            input(id="c1" type="radio").filter-item__input-color
            label(for="c1").filter-item__label Темно-кор ичневый
        .filter-item__wrap
            input(id="c2" type="radio").filter-item__input-color
            label(for="c2").filter-item__label Темный
        .filter-item__wrap
            input(id="c3" type="radio").filter-item__input-color
            label(for="c3").filter-item__label Серый
        .filter-item__wrap
            input(id="c4" type="radio").filter-item__input-color
            label(for="c4").filter-item__label Бежевый
        .filter-item__wrap
            input(id="c5" type="radio").filter-item__input-color
            label(for="c5").filter-item__label Светлый
        .filter-item__wrap
            input(id="c6" type="radio").filter-item__input-color
            label(for="c6").filter-item__label Белый
    .filter-item
        span.filter-item__name РАЗМЕРЫ
        .filter-item__wrap
            input(id="s1" type="radio").filter-item__input-size
            label(for="s1").filter-item__label 34
        .filter-item__wrap
            input(id="s2" type="radio").filter-item__input-size
            label(for="s2").filter-item__label 35
        .filter-item__wrap
            input(id="s3" type="radio").filter-item__input-size
            label(for="s3").filter-item__label 36
        .filter-item__wrap
            input(id="s4" type="radio").filter-item__input-size
            label(for="s4").filter-item__label 37
        .filter-item__wrap
            input(id="s5" type="radio").filter-item__input-size
            label(for="s5").filter-item__label 38
        .filter-item__wrap
            input(id="s6" type="radio").filter-item__input-size
            label(for="s6").filter-item__label 39
        .filter-item__wrap
            input(id="s7" type="radio").filter-item__input-size
            label(for="s7").filter-item__label 40
        .filter-item__wrap
            input(id="s8" type="radio").filter-item__input-size
            label(for="s8").filter-item__label 41
        .filter-item__wrap
            input(id="s9" type="radio").filter-item__input-size
            label(for="s9").filter-item__label 42
        .filter-item__wrap
            input(id="s10" type="radio").filter-item__input-size
            label(for="s10").filter-item__label 43
        .filter-item__wrap
            input(id="s11" type="radio").filter-item__input-size
            label(for="s11").filter-item__label 44
        .filter-item__wrap
            input(id="s12" type="radio").filter-item__input-size
            label(for="s12").filter-item__label 45
        .filter-item__wrap
            input(id="s13" type="radio").filter-item__input-size
            label(for="s13").filter-item__label 46
        .filter-item__wrap
            input(id="s14" type="radio").filter-item__input-size
            label(for="s14").filter-item__label 47
        .filter-item__wrap
            input(id="s15" type="radio").filter-item__input-size
            label(for="s15").filter-item__label 48