
<div class="catalog-menu">
	<ul class="catalog-menu__list">
		<li class="catalog-parent-menu"><a class="catalog-menu__link" href="javascript:void(0)"><span class="catalog__link-img unt-man"></span><span class="catalog-menu__name">Унты мужские</span></a>
			<ul class="catalog-submenu">
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">4</span><span class="catalog-submenu__name">Пункт подменю 1</span></a>
					<ul class="catalog-subsubmenu">
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">8</span><span class="catalog-subsubmenu__name">Пункт подподменю 1</span></a></li>
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">2</span><span class="catalog-subsubmenu__name">Пункт подподменю 2</span></a></li>
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">14</span><span class="catalog-subsubmenu__name">Пункт подподменю 3</span></a></li>
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">10</span><span class="catalog-subsubmenu__name">Пункт подподменю 4</span></a></li>
					</ul>
				</li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">14</span><span class="catalog-submenu__name">Пункт подменю 2</span></a>
					<ul class="catalog-subsubmenu">
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">3</span><span class="catalog-subsubmenu__name">Пункт подподменю 1</span></a></li>
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">5</span><span class="catalog-subsubmenu__name">Пункт подподменю 2</span></a></li>
					</ul>
				</li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="mobile-submenu__count">1</span><span class="mobile-submenu__name">Пункт подменю 3</span></a>
					<ul class="catalog-subsubmenu">
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">6</span><span class="catalog-subsubmenu__name">Пункт подподменю 1</span></a></li>
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">11</span><span class="catalog-subsubmenu__name">Пункт подподменю 2</span></a></li>
					</ul>
				</li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">5</span><span class="catalog-submenu__name">Пункт подменю 4</span></a></li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">14</span><span class="catalog-submenu__name">Пункт подменю 5</span></a></li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">7</span><span class="catalog-submenu__name">Пункт подменю 6</span></a></li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">9</span><span class="catalog-submenu__name">Пункт подменю 7</span></a></li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">12</span><span class="catalog-submenu__name">Пункт подменю 8</span></a></li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">2</span><span class="catalog-submenu__name">Пункт подменю 9</span></a></li>
			</ul>
		</li>
		<li><a class="catalog-menu__link" href="javascript:void(0)"><span class="catalog__link-img unt-woman"></span><span class="catalog-menu__name">Унты женские</span></a></li>
		<li><a class="catalog-menu__link" href="javascript:void(0)"><span class="catalog__link-img unt-child"></span><span class="catalog-menu__name">Унты детские</span></a></li>
		<li><a class="catalog-menu__link" href="javascript:void(0)"><span class="catalog__link-img clothes"></span><span class="catalog-menu__name">Монгольская одежда</span></a>
			<ul class="catalog-submenu">
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">4</span><span class="catalog-submenu__name">Пункт подменю 1</span></a>
					<ul class="catalog-subsubmenu">
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">8</span><span class="catalog-subsubmenu__name">Пункт подподменю 1</span></a></li>
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">2</span><span class="catalog-subsubmenu__name">Пункт подподменю 2</span></a></li>
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">14</span><span class="catalog-subsubmenu__name">Пункт подподменю 3</span></a></li>
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">10</span><span class="catalog-subsubmenu__name">Пункт подподменю 4</span></a></li>
					</ul>
				</li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">14</span><span class="catalog-submenu__name">Пункт подменю 2</span></a>
					<ul class="catalog-subsubmenu">
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">3</span><span class="catalog-subsubmenu__name">Пункт подподменю 1</span></a></li>
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">5</span><span class="catalog-subsubmenu__name">Пункт подподменю 2</span></a></li>
					</ul>
				</li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="mobile-submenu__count">1</span><span class="mobile-submenu__name">Пункт подменю 3</span></a>
					<ul class="catalog-subsubmenu">
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">6</span><span class="catalog-subsubmenu__name">Пункт подподменю 1</span></a></li>
						<li><a class="catalog-subsubmenu__link" href="javascript:void(0)"><span class="catalog-subsubmenu__count">11</span><span class="catalog-subsubmenu__name">Пункт подподменю 2</span></a></li>
					</ul>
				</li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">5</span><span class="catalog-submenu__name">Пункт подменю 4</span></a></li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">14</span><span class="catalog-submenu__name">Пункт подменю 5</span></a></li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">7</span><span class="catalog-submenu__name">Пункт подменю 6</span></a></li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">9</span><span class="catalog-submenu__name">Пункт подменю 7</span></a></li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">12</span><span class="catalog-submenu__name">Пункт подменю 8</span></a></li>
				<li><a class="catalog-submenu__link" href="javascript:void(0)"><span class="catalog-submenu__count">2</span><span class="catalog-submenu__name">Пункт подменю 9</span></a></li>
			</ul>
		</li>
		<li><a class="catalog-menu__link" href="javascript:void(0)"><span class="catalog__link-img shoes"></span><span class="catalog-menu__name">Монгольская обувь</span></a></li>
		<li><a class="catalog-menu__link" href="javascript:void(0)"><span class="catalog__link-img acces-shoes"></span><span class="catalog-menu__name">Аксессуары для обуви</span></a></li>
		<li><a class="catalog-menu__link" href="javascript:void(0)"><span class="catalog__link-img acces-leather"></span><span class="catalog-menu__name">Аксессуары из кожи</span></a></li>
	</ul>
</div>