.catalog-menu
    ul.catalog-menu__list
        li.catalog-parent-menu
            a.catalog-menu__link(href="javascript:void(0)")
                span.catalog__link-img.unt-man
                span.catalog-menu__name Унты мужские
            ul.catalog-submenu
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 4
                        span.catalog-submenu__name Пункт подменю 1
                    ul.catalog-subsubmenu
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 8
                                span.catalog-subsubmenu__name Пункт подподменю 1
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 2
                                span.catalog-subsubmenu__name Пункт подподменю 2
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 14
                                span.catalog-subsubmenu__name Пункт подподменю 3
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 10
                                span.catalog-subsubmenu__name Пункт подподменю 4
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 14
                        span.catalog-submenu__name Пункт подменю 2
                    ul.catalog-subsubmenu
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 3
                                span.catalog-subsubmenu__name Пункт подподменю 1
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 5
                                span.catalog-subsubmenu__name Пункт подподменю 2
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.mobile-submenu__count 1
                        span.mobile-submenu__name Пункт подменю 3
                    ul.catalog-subsubmenu
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 6
                                span.catalog-subsubmenu__name Пункт подподменю 1
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 11
                                span.catalog-subsubmenu__name Пункт подподменю 2
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 5
                        span.catalog-submenu__name Пункт подменю 4
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 14
                        span.catalog-submenu__name Пункт подменю 5
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 7
                        span.catalog-submenu__name Пункт подменю 6
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 9
                        span.catalog-submenu__name Пункт подменю 7
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 12
                        span.catalog-submenu__name Пункт подменю 8
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 2
                        span.catalog-submenu__name Пункт подменю 9
        li
            a.catalog-menu__link(href="javascript:void(0)")
                span.catalog__link-img.unt-woman
                span.catalog-menu__name Унты женские
        li
            a.catalog-menu__link(href="javascript:void(0)")
                span.catalog__link-img.unt-child
                span.catalog-menu__name Унты детские
        li
            a.catalog-menu__link(href="javascript:void(0)")
                span.catalog__link-img.clothes
                span.catalog-menu__name Монгольская одежда
            ul.catalog-submenu
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 4
                        span.catalog-submenu__name Пункт подменю 1
                    ul.catalog-subsubmenu
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 8
                                span.catalog-subsubmenu__name Пункт подподменю 1
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 2
                                span.catalog-subsubmenu__name Пункт подподменю 2
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 14
                                span.catalog-subsubmenu__name Пункт подподменю 3
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 10
                                span.catalog-subsubmenu__name Пункт подподменю 4
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 14
                        span.catalog-submenu__name Пункт подменю 2
                    ul.catalog-subsubmenu
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 3
                                span.catalog-subsubmenu__name Пункт подподменю 1
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 5
                                span.catalog-subsubmenu__name Пункт подподменю 2
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.mobile-submenu__count 1
                        span.mobile-submenu__name Пункт подменю 3
                    ul.catalog-subsubmenu
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 6
                                span.catalog-subsubmenu__name Пункт подподменю 1
                        li
                            a.catalog-subsubmenu__link(href="javascript:void(0)")
                                span.catalog-subsubmenu__count 11
                                span.catalog-subsubmenu__name Пункт подподменю 2
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 5
                        span.catalog-submenu__name Пункт подменю 4
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 14
                        span.catalog-submenu__name Пункт подменю 5
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 7
                        span.catalog-submenu__name Пункт подменю 6
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 9
                        span.catalog-submenu__name Пункт подменю 7
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 12
                        span.catalog-submenu__name Пункт подменю 8
                li
                    a.catalog-submenu__link(href="javascript:void(0)")
                        span.catalog-submenu__count 2
                        span.catalog-submenu__name Пункт подменю 9
        li
            a.catalog-menu__link(href="javascript:void(0)")
                span.catalog__link-img.shoes
                span.catalog-menu__name Монгольская обувь
        li
            a.catalog-menu__link(href="javascript:void(0)")
                span.catalog__link-img.acces-shoes
                span.catalog-menu__name Аксессуары для обуви
        li
            a.catalog-menu__link(href="javascript:void(0)")
                span.catalog__link-img.acces-leather
                span.catalog-menu__name Аксессуары из кожи