$violet: #553091;
$violetAccent: #6637B1;
$blue: #8cd3e4;
$blueAccent: #61CFE8;
$darkBlue: #282A61;
$white: #ffffff;

$grey: #EFEDF9;
$lightBlue: #D9D9FF;
%font_DB_60 {
  font-family: 'Dobrozrachniy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
}

%font_DB_40 {
  font-family: 'Dobrozrachniy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

%font_DB_32 {
  font-family: 'Dobrozrachniy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
}

%font_DB_24 {
  font-family: 'Dobrozrachniy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

%font_PT_B_22 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28.6px;
}

%font_PT_B_18 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

%font_PT_B_18slim {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

%font_PT_Reg_16 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
}

%font_PT_Reg_16slim {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

%font_PT_B_16 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.8px;
}

%font_PT_B_16slim {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

%font_PT_B_14 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18.2px;
}

%font_PT_Reg_14 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
}

%font_PT_B_12 {
  font-family: 'PTSans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15.6px;
}

.description-container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.snowflake {
  display: none;
  width: 520px;
  height: 620px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.snowflake--left {
  left: -200px;
}

.snowflake--right {
  right: 0;
}

.simpleParallax.simple-parallax-initialized {
  height: 618px;
  display: flex;
  align-items: center;
}

.description__wrap {
  display: flex;
  position: relative;
}

.big-logo {
  width: 230px;
  height: 230px;
  background: url("../../img/big-logo.svg") center center no-repeat;
  margin: 0 auto;
}

.logo-name {
  font-family: 'Dobrozrachniy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 95px;
  line-height: 85px;
  margin-top: 24px;
  margin-bottom: 58px;
}

.logo-name--small {
  font-size: 80px;
}

.description__left {
  //width: 586px;
  width: 626px;
  flex: 1;
  text-align: center;
  padding: 0 175px;
}

.description__text--big {
  @extend %font_PT_B_22;
  margin-bottom: 38px;
}

.description__text {
  @extend %font_PT_Reg_16;
  margin-bottom: 46px;
}

.description__btn.btn {
  margin: 0 auto;
  width: 215px;
  height: 61px;
  line-height: 60px !important;
  @extend %font_PT_B_22;
}

.description__pattern {
  width: 84px;
  height: 490px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../../img/decor-line.svg") center center no-repeat;
}

.descritpion__right {
  //width: 586px;
  min-width: 626px;
  flex: 1;
}

.video-block {
  width: 510px;
  margin-left: auto;
}

.video-block-item:not(:last-child) {
  margin-bottom: 20px;
}

.video-block-item__link {
  position: relative;
  display: block;
  width: 510px;
  height: 288px;
  background: linear-gradient(0deg, rgba(85, 48, 145, 0.5), rgba(85, 48, 145, 0.5));
  border-radius: 8px;
}

.video-block-item__link::before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  background: url("../../img/btn.svg") center center no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video-block-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 23px 34px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.video-block__name {
  @extend %font_PT_B_22;
  color: $white;
  margin-bottom: 9px;
  display: block;
}

.video-block__descr {
  @extend %font_PT_Reg_16slim;
  color: $white;
}