
<section class="description">
	<div class="description-container">
		<div class="snowflake snowflake--left"><img class="snowflake__img" src="../../img/snowflake.png"/></div>
		<div class="container description__wrap">
			<div class="description__left">
				<div class="big-logo"></div>
				<p class="logo-name"><span class="color-violet">Северное</span><br/><span class="color-blue logo-name--small">сияние</span></p>
				<p class="description__text--big">Производим унты из&nbsp;камуса оленя и&nbsp;монгольскую обувь</p>
				<p class="description__text">Российский бренд качественной и&nbsp;теплой зимней обуви из&nbsp;100% натуральных материалов как внутри,&nbsp;так и&nbsp;снаружи.<br/><br/>Работаем 16&nbsp;лет, с&nbsp;2004 года.</p>
				<p class="description__text--big color-violet">Пошили уже: 24&nbsp;568&nbsp;унтов</p><a class="btn description__btn" href="javascript:void(0)">Подробнее о&nbsp;нас</a>
			</div>
			<div class="description__pattern"></div>
			<div class="descritpion__right">
				<div class="video-block">
					<div class="video-block-item"><a class="video-block-item__link" href="https://www.youtube.com/embed/yIicu4arU5s" data-fancybox="gallery"><img src="../../img/video1.jpg"/><span class="video-block-text"><span><span class="video-block__name">Знакомство</span><span class="video-block__descr">с Северным сиянием</span></span><span class="video-block__descr">Видео — 45 сек</span></span></a></div>
					<div class="video-block-item"><a class="video-block-item__link" href="https://www.youtube.com/embed/yIicu4arU5s" data-fancybox="gallery"><img src="../../img/video2.jpg"/><span class="video-block-text"><span><span class="video-block__name">Знакомство</span><span class="video-block__descr">с Северным сиянием</span></span><span class="video-block__descr">Видео — 45 сек</span></span></a></div>
					<div class="video-block-item"><a class="video-block-item__link" href="https://www.youtube.com/embed/yIicu4arU5s" data-fancybox="gallery"><img src="../../img/video3.jpg"/><span class="video-block-text"><span><span class="video-block__name">Знакомство</span><span class="video-block__descr">с Северным сиянием</span></span><span class="video-block__descr">Видео — 45 сек</span></span></a></div>
				</div>
			</div>
		</div>
		<div class="snowflake snowflake--right"><img class="snowflake__img" src="../../img/snowflake.png"/></div>
	</div>
</section>