@import "../../variables";

.description {
  margin-top: -120px;
}

.description-container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.snowflake {
  width: 520px;
  height: 620px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.snowflake--left {
  left: -200px;
}

.snowflake--right {
  right: -350px;
}

.snowflake__img {
  width: 420px;
  height: 422px;
}

.simpleParallax.simple-parallax-initialized {
  overflow: unset !important;
  height: 618px;
  display: flex;
  align-items: center;
}

.description__wrap {
  display: flex;
  position: relative;
}

.big-logo {
  width: 230px;
  height: 230px;
  margin: 0 auto;
}

.logo-name {
  font-family: 'Dobrozrachniy', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 95px;
  line-height: 85px;
  margin-top: 24px;
  margin-bottom: 58px;
}

.logo-name--small {
  font-size: 80px;
}

.description__left {
  width: 50%;
  //width: 626px;
  flex: 1;
  text-align: center;
  padding: 0 175px;
}

.description__text--big {
  @include font_PT_B_22;
  margin-bottom: 38px;
}

.description__text {
  @include font_PT_Reg_16;
  margin-bottom: 46px;
}

.description__btn.btn {
  margin: 0 auto;
  width: 215px;
  height: 61px;
  line-height: 60px !important;
  @include font_PT_B_22;
}

.description__pattern {
  width: 84px;
  height: 490px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url("../../img/decor-line.svg") center center no-repeat;
}

.descritpion__right {
  min-width: 50%;
  //min-width: 626px;
  flex: 1;
}

.video-block {
  width: 510px;
  margin-left: auto;
}

.video-block-item:not(:last-child) {
  margin-bottom: 20px;
}

.video-block-item__link {
  position: relative;
  display: block;
  width: 510px;
  height: 288px;
  //background: linear-gradient(0deg, rgba(85, 48, 145, 0.5), rgba(85, 48, 145, 0.5));
  border-radius: 8px;
  overflow: hidden;
}

.video-block-item__link::before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  background: url("../../img/btn.svg") center center no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video-block-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 23px 34px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.video-block__name {
  @include font_PT_B_22;
  color: $white;
  margin-bottom: 9px;
  display: block;
}

.video-block__descr {
  @include font_PT_Reg_16slim;
  color: $white;
}

@media all and (max-width: 1550px) {
  .description {
    margin-top: 0;
  }
  .snowflake--right {
    right: -420px;
  }
}

@media all and (max-width: 1340px) {
  .description__left {
    padding: 0 105px;
  }
}

@media all and (max-width: 1240px) {
  .description__left {
    padding: 0 80px;
  }
  .description__pattern {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  .description-container {
    padding-top: 72px;
  }
  .snowflake {
    width: 320px;
    height: 370px;
  }
  .snowflake--left {
    left: -105px;
  }
  .snowflake--right {
    right: -230px;
  }
  .simpleParallax.simple-parallax-initialized {
    height: 362px;
  }
  .snowflake__img {
    width: 300px;
    height: 302px;
  }
  .snowflake {
    top: 0;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
    transform: unset;
  }
  .description__wrap {
    flex-direction: column;
  }
  .description__left,
  .description__right {
    width: 100%;
  }
  .descritpion__right {
    margin-top: 57px;
  }
  .video-block {
    margin: 0 auto;
  }
}

@media all and (max-width: 600px) {
  .description-container {
    padding-top: 55px;
  }
  .snowflake {
    top: -16px;
    width: 320px;
    height: 320px;
  }
  .snowflake--left {
    left: -66px;
  }
  .snowflake--right {
    right: -245px;
  }
  .simpleParallax.simple-parallax-initialized {
    height: 275px;
  }
  .snowflake__img {
    width: 200px;
    height: 202px;
  }
  .description {
    padding-top: 48px;
  }
  .description__left {
    padding: 0 25px;
  }
  .big-logo svg,
  .big-logo {
    width: 140px;
    height: 140px;
  }
  .logo-name {
    margin-top: 26px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 55px;
  }
  .logo-name--small {
    font-size: 50px;
  }
  .description__text--big {
    font-size: 22px;
    line-height: 28px;
  }
  .description__text {
    margin-bottom: 18px;
  }
  .description__text--big.color-violet {
    margin-bottom: 28px;
  }
  .video-block-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .video-block-item__link,
  .video-block-item__link img,
  .video-block {
    width: 100%;
  }
  .video-block-item__link {
    height: auto;
  }
  .video-block-item__link img {
    height: 100%;
  }
  .video-block-text {
    padding: 18px 25px;
  }
}