section.description
    .description-container
        .snowflake.snowflake--left
            img(src="../../img/snowflake.png").snowflake__img
        .container.description__wrap
            .description__left
                .big-logo
                p.logo-name
                    span.color-violet Северное
                    br
                    |
                    span.color-blue.logo-name--small сияние
                p.description__text--big Производим унты из&nbsp;камуса оленя и&nbsp;монгольскую обувь
                p.description__text Российский бренд качественной и&nbsp;теплой зимней обуви из&nbsp;100% натуральных материалов как внутри,&nbsp;так и&nbsp;снаружи.
                    br
                    br
                    | Работаем 16&nbsp;лет, с&nbsp;2004 года.
                p.description__text--big.color-violet Пошили уже: 24&nbsp;568&nbsp;унтов
                a.btn.description__btn(href="javascript:void(0)") Подробнее о&nbsp;нас
            .description__pattern
            .descritpion__right
                .video-block
                    .video-block-item
                        a(href="https://www.youtube.com/embed/yIicu4arU5s", data-fancybox="gallery").video-block-item__link
                            img(src="../../img/video1.jpg")
                            span.video-block-text
                                span
                                    span.video-block__name Знакомство
                                    span.video-block__descr с Северным сиянием
                                span.video-block__descr Видео — 45 сек
                    .video-block-item
                        a(href="https://www.youtube.com/embed/yIicu4arU5s", data-fancybox="gallery").video-block-item__link
                            img(src="../../img/video2.jpg")
                            span.video-block-text
                                span
                                    span.video-block__name Знакомство
                                    span.video-block__descr с Северным сиянием
                                span.video-block__descr Видео — 45 сек
                    .video-block-item
                        a(href="https://www.youtube.com/embed/yIicu4arU5s", data-fancybox="gallery").video-block-item__link
                            img(src="../../img/video3.jpg")
                            span.video-block-text
                                span
                                    span.video-block__name Знакомство
                                    span.video-block__descr с Северным сиянием
                                span.video-block__descr Видео — 45 сек
        .snowflake.snowflake--right
            img(src="../../img/snowflake.png").snowflake__img
